---
layout: default
title: Blog
permalink: /blog/
pagination:
  enabled: true
---
<section class="u-margin-bottom-8">
  <div class="o-wrapper">
    <div class="o-layout">
      <header class="o-layout__item u-width-6@md">
        <h1 class="u-margin-bottom-4 c-title">{{ page.title }}</h1>
      </header>

      <div class="o-layout__item u-width-6@md">
        <ul class="c-bordered-list c-bordered-list--pad-4">
          {% for entry in paginator.posts %}
          <li class="c-bordered-list__item">
            <article class="c-entry">
              <header class="c-entry__header">
                <time class="c-entry__time" datetime="{{ entry.date | date_to_xmlschema }}"><a href="{{ entry.url }}">{{ entry.date | date: "%B %d, %Y" }}</a></time>
                <h2 class="c-entry__title"><a href="{% if entry.link %}{{ entry.link }}{% else %}{{ entry.url }}{% endif %}">{{ entry.title }}</a></h2>
              </header>

              <div class="c-entry__body">
                <div class="c-prose">
                  {% if entry.link %}{{ entry.content }}{% else %}{{ entry.excerpt }}{% endif %}
                </div>
              </div>

              <footer class="c-entry__footer">
                <span>Tagged: {{ entry.tags | array_to_sentence_string }}</span>
              </footer>
            </article>
          </li>
          {% endfor %}
        </ul>

        {% if paginator.total_pages > 1 %}
        <nav class="c-pagination" role="pagination">
          {% if paginator.previous_page %}
          <a class="c-pagination__previous" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Previous</a>
          {% endif %}

          {% if paginator.next_page %}
          <a class="c-pagination__next" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next</a>
          {% endif %}
        </nav>
        {% endif %}
      </div>
    </div>
  </div>
</section>
