---
layout: default
theme: default
permalink: /
---
<header class="c-intro c-intro--home">
  <h2 class="c-intro__heading">I’m a front-end developer focused on performance and accessibility.</h2>
</header>

<section class="u-margin-bottom-large u-margin-bottom-huge@md">
  {% include cta.html %}
</section>

<!-- <section class="u-margin-bottom-large u-margin-bottom-huge@md">
  <h2 class="u-heading-label">Recent work</h2>

  <div class="o-grid o-grid--equalHeight o-grid--guttersLarge">
    {% for entry in site.work %}
      <div class="o-grid__cell u-width-6of12@md">
        <a href="{{ entry.url }}" style="width: 100%; text-decoration: none; display: flex;">
          {% include teaser.html
            link=entry.url
            color=entry.color
            gradient=entry.gradient
            title=entry.title
            meta=entry.meta
            img=entry.img
            alt=entry.alt
          %}
        </a>
      </div>
    {% endfor %}
  </div>
</section> -->

<section>
  <div class="o-grid o-grid--guttersHuge">
    <div class="o-grid__cell u-width-8of12@md">
      <h2 class="u-heading-label">Lastest blog posts</h2>
      
      {% for post in site.posts limit:3 %}
        <article class="c-entry">
          <header class="c-entry__header">
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <time datetime="{{ post.date | date_to_xmlschema }}">&ndash;&nbsp;{{ post.date | date: "%B %d, %Y" }}</time>
          </header>
          <p>{{ post.excerpt }}</p>
        </article>
      {% endfor %}
    </div>

    <div class="o-grid__cell u-width-4of12@md">
      <div class="u-margin-bottom-large">
        <h2 class="u-heading-label">Lastest screencast</h2>

        {% include video.html id="iSaBRUgAXnk" %}
      </div>

      <h2 class="u-heading-label">Interviews</h2>

      <div class="c-prose">
        <ul>
          {% for interview in site.data.interviews %}
            <li><a href="{{ interview.link }}">{{ interview.title }}</a> - <time>{{ interview.date }}</time></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>