---
layout: default
theme: default
title: Recent Work
permalink: /work/
---
<header class="c-intro">
  <h1 class="c-intro__heading">{{ page.title }}&nbsp;&not;</h1>
</header>

<div class="o-grid o-grid--equalHeight o-grid--guttersLarge">
  {% for entry in site.work %}
    <div class="o-grid__cell u-width-6of12@md">
      <a href="{{ entry.url }}" style="width: 100%; text-decoration: none; display: flex;">
        {% include teaser.html
          link=entry.url
          color=entry.color
          gradient=entry.gradient
          title=entry.title
          meta=entry.meta
          img=entry.img
          alt=entry.alt
        %}
      </a>
    </div>
  {% endfor %}
</div>