---
layout: default
---
<header class="c-intro" role="banner">
  <div class="o-wrapper">
    <div class="c-intro__inner">
      <div class="c-intro__content">
        <h1 class="c-heading c-intro__title">{{ site.title }}</h1>
        <p class="c-heading c-intro__blurb">{{ site.description }}</p>
        <span class="c-intro__location">
          <svg width="16" height="21"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#location"></use></svg>
          {{ site.location }}
        </span>
      </div>

      <ul class="c-intro__links">
        <li class="c-intro__link">
          <a href="https://github.com/alexcarpenter">Github</a>
        </li>

        <li class="c-intro__link">
          <a href="https://codepen.io/alexcarpenter/">CodePen</a>
        </li>

        <li class="c-intro__link">
          <a href="https://twitter.com/hybrid_alex">Twitter</a>
        </li>
      </ul>
    </div>
  </div>
</header>

<section class="o-section">
  <div class="o-wrapper">
    <div class="c-blocks">
      <div class="c-blocks__row">
        <div class="c-blocks__item c-blocks__item--primary">
          <h2 class="c-heading">Performance</h2>
          <svg width="22" height="12"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#performance"></use></svg>
        </div>

        <div class="c-blocks__item c-blocks__item--secondary">
          <div class="c-prose">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, ducimus distinctio reiciendis commodi at molestiae aliquam mollitia eligendi reprehenderit, corporis nesciunt placeat perspiciatis laudantium optio atque sint earum? Dicta, praesentium.</p>
            <blockquote>
              <p>If you develop and test with a Motorola G4 starting today, and it performs ‘kinda well’, it’ll be amazing for everyone who uses newer, more powerful devices.</p>
              <cite>&mdash; Ben Schwarz, Calibre</cite>
            </blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, asperiores. Cum laboriosam, quasi omnis libero, dolores hic quos! Ducimus dolor, corrupti rerum sapiente quidem nisi, mollitia animi libero ea temporibus!</p>
          </div>
        </div>
      </div>

      <div class="c-blocks__row c-blocks__row--reversed">
        <div class="c-blocks__item c-blocks__item--primary">
          <h2 class="c-heading">Accessibility</h2>
          <svg width="18" height="20"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#accessibility"></use></svg>
        </div>

        <div class="c-blocks__item c-blocks__item--secondary">
          <div class="c-prose">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum a voluptas minus quia id perspiciatis quasi commodi voluptates, et accusamus eaque, sint iusto voluptatum neque officiis repellendus cupiditate quibusdam consequuntur.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, asperiores. Cum laboriosam, quasi omnis libero, dolores hic quos! Ducimus dolor, corrupti rerum sapiente quidem nisi, mollitia animi libero ea temporibus!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="o-section">
  <div class="o-wrapper">
    <div class="o-section__inner">
      <h2 class="u-margin-bottom-2@md c-heading c-heading--decorate">Experience</h2>

      <table class="c-table">
        <tbody>
          {% for item in site.data.experience %}
          <tr class="c-table__row">
            <td class="c-table__cell">{{ item.company }}</td>
            <td class="c-table__cell">{{ item.title }}</td>
            <td class="c-table__cell">{{ item.start_date }}&ndash;{% if item.end_date %}{{ item.end_date }}{% else %}Currently{% endif %}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>

<section class="o-section">
  <div class="o-wrapper">
    <div class="o-section__inner">
      <h2 class="u-margin-bottom-2@md c-heading c-heading--decorate">Interviews</h2>

      <table class="c-table">
        <tbody>
          {% for item in site.data.interviews %}
          <tr class="c-table__row">
            <td class="c-table__cell">{{ item.title }}</td>
            <td class="c-table__cell">{{ item.date }}</td>
            <td class="c-table__cell"><a href="{{ item.link }}">{{ item.action }}</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>

<section class="o-section">
  <div class="o-wrapper">
    <div class="u-margin-bottom-4">
      <div class="o-section__inner">
        <h2 class="c-heading c-heading--decorate">Projects</h2>
      </div>
    </div>

    <div class="o-grid">
      <div class="o-grid__item u-width-6@md">
        <div class="o-media">
          <div class="o-media__figure">
            <img src="{{ "/assets/img/inclusive-dialog-logo.png" | prepend: site.baseurl }}" alt="Inclusive Dialog">
          </div>

          <div class="o-media__body">
            <div class="c-prose">
              <h2 class="c-heading">Inclusive Dialog</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam libero neque molestias. Necessitatibus nisi atque, enim adipisci eligendi iste sed animi vero perferendis tempore at quisquam explicabo omnis est, veritatis.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="o-grid__item u-width-6@md">
        <div class="o-media">
          <div class="o-media__figure">
            <img src="{{ "/assets/img/inclusive-dialog-logo.png" | prepend: site.baseurl }}" alt="Inclusive Dialog">
          </div>

          <div class="o-media__body">
            <div class="c-prose">
              <h2 class="c-heading">Butane</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam libero neque molestias. Necessitatibus nisi atque, enim adipisci eligendi iste sed animi vero perferendis tempore at quisquam explicabo omnis est, veritatis.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
