/* ==========================================================================
   COMPONENTS/CTA
   ========================================================================== */


.c-cta {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  overflow: hidden;
  grid-gap: 1px;
  border: 1px solid var(--border-color);
}

.c-cta__cell {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--spacing-unit-base);
  border: solid var(--border-color);
  border-width: 0 1px 1px 0;
  margin: 0 -1px -1px 0;
  background-color: var(--body-backgroud-color);
  text-decoration: none;

  @media (--mq-from-md) {
    padding-right: var(--spacing-unit-large);
    padding-left: var(--spacing-unit-large);
  }

  &:hover,
  &:focus {
    outline: none;
    text-decoration: underline;
    text-decoration-skip: ink;
    text-decoration-color: var(--link-border-color);
  }
}
