/* ==========================================================================
   COMPONENTS/DETAILS
   ========================================================================== */


.c-details {
  list-style: none;
}

.c-details__item {

  &:not(:first-of-type) {
    padding-top: var(--spacing-unit-base);
  }

  &:not(:last-of-type) {
    padding-bottom: var(--spacing-unit-base);
    border-bottom: 1px solid var(--border-color);
  }

  & > * {
    font-size: 24px;
  }
}