/* ==========================================================================
   COMPONENTS/INTRO
   ========================================================================== */

.c-intro {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: var(--spacing-unit-large);

  @media (--mq-from-md) {
    margin-bottom: var(--spacing-unit-huge);
  }
}

.c-intro--home {
  min-height: 30vh;
}

.c-intro__heading {
  
  @media screen and (min-width: 740px) {
    font-size: 54px;
  }
}