/* ==========================================================================
   COMPONENTS/POST
   ========================================================================== */


.c-post {

  & .c-prose > *:not(figure) {
    flex-basis: auto !important;

    @media screen and (min-width: 740px) {
      width: calc(100% * 7 / 12) !important;
    }
  }

  & figure {
    width: 100%;
  }
}