/* ==========================================================================
   COMPONENTS/PROSE
   ========================================================================== */


.c-prose {

  & > * {
    margin-bottom: 1rem;
  }

  & p + :--headings {
    padding-top: 1rem;
  }

  & h3 {
    font-size: 24px;
  }

  & ul,
  & ol {
    padding-left: 1.2rem;
  }

  & ul {
    list-style-type: square;
  }
}

.c-prose--post {

  & > *:not(.u-sizeFull):not(.u-pull-right) {
    flex-basis: auto !important;

    @media (--mq-from-md) {
      width: calc(100% * 8 / 12);
      padding-right: calc(0.5 * var(--spacing-unit-large));
    }

    @media (--mq-from-lg) {
      padding-right: calc(0.5 * var(--spacing-unit-huge));
    }
  }

  & .u-pull-right {

    @media (--mq-from-md) {
      float: right;
      width: calc(100% * 4 / 12);
      padding-left: calc(0.5 * var(--spacing-unit-large));
    }

    @media (--mq-from-lg) {
      padding-left: calc(0.5 * var(--spacing-unit-huge));
    }
  }

  & figure.u-extend {
    display: grid;
    grid-template-columns: auto calc(100% * 4 / 12);
    grid-column-gap: var(--spacing-unit-huge);
  }

  & .u-extend figcaption {
    grid-column-start: 2;
  }
}