/* ==========================================================================
   GENERIC/BASE
   ========================================================================== */


html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

@media (--from-small-viewport) {
  html {
    font-size: 125%;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 3rem 1rem;
  max-width: calc(900px + 2rem);
  min-height: 100vh;
  font-family: 'Roboto', system-ui, sans-serif;
  line-height: 1.4;
}

main {
  margin-bottom: 3rem;
}

img,
svg {
  max-width: 100%;
  vertical-align: middle;
}

:--heading {
  margin: 0;
  text-rendering: optimizeLegibility;
  font-weight: 900;
}

p, blockquote,
ol, ul, dl,
figure {
  margin: 0;
}

a {
  color: inherit;
  text-decoration-color: var(--text-decoration-color);
  transition: color ease-in-out 0.2s;
}

hr {
  border: 0;
}

pre {
  white-space: pre;
  hyphens: none;
  tab-size: 2;
}

code {
  font-family: var(--font-family-monospace);
  font-size: 87.5%;
}

code:not([class]) {
  padding: 2px 6px;
  background-color: #eee;
  border-radius: 4px;
}

kbd {
  padding: 2px 6px;
  font-family: var(--font-family-monospace);
  font-size: 87.5%;
  color: #fff;
  background-color: #111;
  border-radius: 4px;
}
