/* ==========================================================================
   GENERIC/BASE
   ========================================================================== */


html {
  box-sizing: border-box;
  font-size: 125%;
  -webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  padding: 3rem 1rem;
  max-width: calc(1000px + 2rem);
  font-family: 'Roboto', system-ui, sans-serif;
  line-height: 1.3;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend {
  margin: 0;
  padding: 0;
}

:--heading {
  font-weight: 900;
}

a {
  color: inherit;
  text-decoration-color: #bbb;
  transition: color ease-in-out 0.2s;
}

/* a:--enter {
  color: #ccc;
} */
