/* ==========================================================================
   GENERIC/BASE
   ========================================================================== */


html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

@media (--from-small-viewport) {
  html {
    font-size: 125%;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 3rem 1rem;
  max-width: calc(900px + 2rem);
  min-height: 100vh;
  font-family: var(--font-family-sans);
  line-height: 1.4;
}

main {
  margin-bottom: 3rem;
}

img,
svg {
  max-width: 100%;
  vertical-align: middle;
}

:--heading {
  margin: 0;
  text-rendering: optimizeLegibility;
  font-weight: 900;
}

p, blockquote,
ol, ul, dl,
figure {
  margin: 0;
}

a {
  color: inherit;
  text-decoration-color: #aaa;
  transition: all ease-in-out 0.2s;
}

a:--enter {
  text-decoration-color: #000;
}

hr {
  border: 0;
}

pre {
  white-space: pre;
  hyphens: none;
  tab-size: 2;
}

code {
  font-family: var(--font-family-monospace);
  font-size: 87.5%;
}

code:not([class]) {
  padding: 2px 6px;
  background-color: #eee;
  border-radius: 4px;
}

kbd {
  display: inline-block;
  padding: 2px 5px;
  font-family: var(--font-family-monospace);
  font-size: 87.5%;
  vertical-align: middle;
  background-color: #fafbfc;
  border: solid 1px #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
}

mark {
  padding-right: 1px;
  padding-left: 1px;
  background-color: #fffeca;
}
