/* ==========================================================================
   COMPONENTS/BILLBOARD
   ========================================================================== */


.c-billboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.c-billboard__content {
  grid-column: 1 / span 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 3rem;
  padding-left: 3rem;
  padding-bottom: 3rem;
  z-index: 10;
}

.c-billboard__headline {
  font-size: 2rem;
  font-weight: 400;
}

.c-billboard__media {
  position: relative;
  grid-column: 1 / span 3;
  grid-row: 1;
}

.c-billboard__media:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--body-background-color);
  opacity: 0.5;
}
