/* ==========================================================================
   COMPONENTS/BUTTON
   ========================================================================== */


.c-button {
  appearance: none;
  display: inline-block;
  padding: 0.75rem 1rem;
  font: inherit;
  font-size: 0.8888888889rem;
  font-weight: 700;
  background-color: #111;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  border: 0;
}
