/* ==========================================================================
   COMPONENTS/ENTRY
   ========================================================================== */


.c-entry {}

.c-entry__title {
  font-size: 1.3rem;
}

.c-entry__title [rel='external']:after {
  display: inline-block;
  font-weight: normal;
  color: #bbb;
  content: '\2009\2192';
}
