/* ==========================================================================
   COMPONENTS/ENTRY
   ========================================================================== */


.c-entry {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  grid-template-areas:
    'embed'
    'header'
    'body'
    'meta';
  border-top: 1px solid #eee;
}

.c-entry:not(:last-of-type) {
  margin-bottom: 3rem;
}

.c-entry--screencast {
  padding-top: 1rem;
}


/* Embed */
.c-entry__embed {
  grid-area: embed;
}


/* Header */
.c-entry__header {
  grid-area: header;
}

.c-entry__title {
  font-size: 1.3rem;
}

.c-entry__title [rel='external']:after {
  content: '\2009\2192';
  display: inline-block;
  font-family: var(--font-family-system);
  font-weight: 400;
  color: currentColor;
  opacity: 0.5;
}


/* Body */
.c-entry__body {
  grid-area: body;
  max-width: 55ch;
}

.c-entry__body > *:not(:last-child) {
  margin-bottom: 1rem;
}

.c-entry__body blockquote {
  padding-left: 1rem;
  font-style: italic;
  border-left: 1px solid #eee;
}


/* Footer */
.c-entry__footer {
  grid-area: meta;
}


@media (--from-medium-viewport) {
  .c-entry {
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      'embed embed embed'
      'meta header header'
      'meta body body';
  }
}
