/* ==========================================================================
   COMPONENTS/FOOTER
   ========================================================================== */


.c-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: auto;
}

.c-footer__social {
  display: flex;
  align-items: center;
}

.c-footer__social a {
  margin-right: 1rem;
  text-decoration: none;
}

.c-footer__copy {
  color: #aaa;
}
