// ==========================================================================
// COMPONENTS/FORM
// ==========================================================================


.c-form {
  position: relative;
}

.c-form__field {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color);
  margin-bottom: 1rem;
}

.c-form__label {
  display: block;
  padding: 0.75rem 1rem;
  border-bottom: 1px solid var(--border-color);
}

.c-form__input {
  width: 100%;
  padding: 0.75rem 1rem;
  font: inherit;
  border: 0;
  border-radius: 3px;
  background-color: #fafafa;
  resize: none;
}

@media (--from-medium-viewport) {
  .c-form__field {
    flex-direction: row;
  }

  .c-form__label {
    width: 30%;
    border-right: 1px solid var(--border-color);
    border-bottom: 0;
  }
}
