/* ==========================================================================
   COMPONENTS/HEADER
   ========================================================================== */


.c-header {
  padding: 2rem;
}

.c-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.c-header__lockup a {
  display: block;
  font-size: 1.3rem;
  font-weight: 900;
  text-decoration: none;
  line-height: 1;
}
