/* ==========================================================================
   COMPONENTS/HEADER
   ========================================================================== */


.c-header {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}

.c-header__lockup a {
  display: block;
  font-size: 1.3rem;
  font-weight: 900;
  text-decoration: none;
}
