/* ==========================================================================
   COMPONENTS/INTRO
   ========================================================================== */


.c-intro {
  margin-bottom: 3rem;
}

.c-intro__media {
  margin-bottom: 1rem;
}

.c-intro__title {
  font-size: 2rem;
}

@media (--from-medium-viewport) {
  .c-intro__title {
    font-size: 3rem;
  }
}

.c-intro__title:after {
  content: '\2009\00AC';
  display: inline-block;
  color: currentColor;
  opacity: 0.5;
}

.c-intro__headline {
  font-size: 2rem;
}

.c-intro__lead {
  max-width: 55ch;
  font-size: 1.3rem;
}

.c-intro__time {
  padding-top: 0.5rem;
  font-style: italic;
}
