/* ==========================================================================
   COMPONENTS/NAV
   ========================================================================== */


.c-nav {}

.c-nav__list {
  list-style: none;
  display: flex;
}

.c-nav__list-item:not(:last-of-type) {
  margin-right: 1rem;
}
