/* ==========================================================================
   COMPONENTS/NAVIGATION
   ========================================================================== */


/* .c-navigation {} */

.c-navigation__list {
  display: flex;
  padding-left: 0;
  list-style: none;
}

.c-navigation__list-item:not(:last-of-type) {
  margin-right: 1rem;
}

.c-navigation__list-anchor {
  color: #fff;
}

.c-navigation__list-anchor:after {
  content: '\2009\00AC';
  display: inline-block;
  color: currentColor;
  opacity: 0.5;
}
