/* ==========================================================================
   COMPONENTS/PAGINATION
   ========================================================================== */


.c-pagination {
  padding-top: 3rem;
}

@media (--from-medium-viewport) {
  .c-pagination {
    padding-left: calc((100% * (1/4)) + 0.5rem);
  }
}

.c-pagination__item[rel='prev'] {
  margin-right: 1rem;
}

.c-pagination__item[rel='prev']:before {
  content: '\2190\2009';
  display: inline-block;
  font-family: var(--font-family-system);
  font-weight: 400;
  color: currentColor;
  opacity: 0.5;
}

.c-pagination__item[rel='next']:after {
  content: '\2009\2192';
  display: inline-block;
  font-family: var(--font-family-system);
  font-weight: 400;
  color: currentColor;
  opacity: 0.5;
}
