/* ==========================================================================
   COMPONENTS/PROSE
   ========================================================================== */


.c-prose {
  margin-right: auto;
  margin-left: auto;
  max-width: 66ch;
}

.c-prose p + p {
  text-indent: 2rem;
}
