/* ==========================================================================
   COMPONENTS/PROSE
   ========================================================================== */


@media (--from-medium-viewport) {
  .c-prose > * {
    max-width: 700px;
  }
}

.c-prose > *:not(:last-child) {
  margin-bottom: 1rem;
}

.c-prose :--heading {
  position: relative;
  padding-top: 1rem;
}

.c-prose :--heading .permalink {
  text-decoration: none;
  opacity: 0.5;
}

.c-prose :--heading .permalink:--enter {
  opacity: 1;
}

.c-prose blockquote:not([class]) {
  padding-left: 1rem;
  font-style: italic;
  border-left: 1px solid #eee;
}

.c-prose hr {
  max-width: 10%;
  margin-bottom: 2rem !important;
  margin-left: 0;
  padding-top: 1rem;
  border-bottom: 1px solid #eee;
}

.c-prose [rel='external']:after {
  content: '\2009\2192';
  display: inline-block;
  font-family: var(--font-family-system);
  font-weight: 400;
  color: currentColor;
  opacity: 0.5;
}
