/* ==========================================================================
   COMPONENTS/PROSE
   ========================================================================== */


.c-prose > *:not(img) {
  max-width: 60ch;
}

.c-prose > *:not(:last-child) {
  margin-bottom: 1rem;
}

.c-prose :--heading {
  position: relative;
  padding-top: 1rem;
}

.c-prose blockquote:not([class]) {
  padding-left: 1rem;
  font-style: italic;
  border-left: 1px solid #eee;
}
