/* ==========================================================================
   OBJECTS/GRID
   ========================================================================== */


.o-grid {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: units(-2);
  margin-left: units(-2);

  @include mq($from: md) {
    margin-bottom: units(-4);
    margin-left: units(-4);
  }
}

.o-grid__item {
  margin-bottom: units(2);
  padding-left: units(2);
  width: 100%;

  @include mq($from: md) {
    margin-bottom: units(4);
    padding-left: units(4);
  }
}
