/* ==========================================================================
   OBJECTS/SECTION
   ========================================================================== */


.o-section {
  margin-bottom: units(4);

  @include mq($from: md) {
    margin-bottom: units(8);
  }
}

.o-section__inner {

  @include mq($from: md) {
    padding-right: units(4);
    padding-left: units(4);
  }
}
