/* ==========================================================================
   OBJECTS/MOSAIC
   ========================================================================== */


/**
 * Reference: https://markus.is/designing/image-grid/
 */

.o-mosaic {
  position: relative;
  margin-top: 50px;
  margin-bottom: 25px;
  padding-bottom: 66.667%;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 25px;
    right: 0;
    height: 100%;
    background-color: #EDEDED;
    z-index: 0;
  }
}

.o-mosaic__row {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
}

.o-mosaic__column {
  display: flex;
  flex-direction: column;
  flex-basis: 0;
}

.o-mosaic__image {
  height: 0;
}

.o-mosaic__flex-grow-e95f50 {
  flex-grow: 1;
}

.o-mosaic__flex-grow-e3b447 {
  flex-grow: 1.111;
}

.o-mosaic__flex-grow-c37c5b {
  flex-grow: 1.5;
}
