/* ==========================================================================
   OBJECTS/GRID
   ========================================================================== */


.o-grid {
  display: flex;
  flex-wrap: wrap;
}

.o-grid__item {
  width: 100%;
}
