/* ==========================================================================
   OBJECTS/WRAPPER
   ========================================================================== */


.o-wrapper {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: var(--u-max-width);
}
