/* ==========================================================================
   OBJECTS/COLUMNS
   ========================================================================== */


.o-columns {
  list-style: none;
  column-count: 2;
}

.o-columns__item {
  margin-bottom: var(--u-spacing-unit-1);
}
