/* ==========================================================================
   OBJECTS/LAYOUT
   ========================================================================== */


.o-layout {
  display: flex;
  flex-wrap: wrap;
}

.o-layout__item {
  width: 100%;
}
