<form name="contact" netlify-honeypot="bot-field" action="/contact/thanks/" netlify>
  <input name="bot-field" hidden />

  <div class="c-form__row">
    <label class="c-form__label" for="name">Your name</label>
    <input class="c-form__input" type="text" name="name" id="name" required>
  </div>

  <div class="c-form__row">
    <label class="c-form__label" for="email">Your email</label>
    <input class="c-form__input" type="email" name="email" id="email" required>
  </div>

  <div class="c-form__row">
    <label class="c-form__label" for="message">Message</label>
    <textarea class="c-form__input" name="message" id="message" cols="10" rows="5" required></textarea>
  </div>

  <div class="c-form__row">
    <button class="c-button" type="submit">Send Message</button>
  </div>
</form>
