<article class="c-entry">
  <header>
    <time class="u-eyebrow">{{ entry.date | date_formatted }}</time>
    <h2 class="c-entry__heading"><a href="{{ entry.url }}">{{ entry.data.title }}</a></h2>
  </header>
</article>
