<article>
  <header class="c-entry__header">
    <time class="c-entry__date">{{ entry.date | date_formatted }}</time>
    <h2 class="c-entry__title"><a href="{{ entry.url | permalink }}">{{ entry.data.title }}</a></h2>
  </header>
  <div class="c-prose">
    <p>{{ entry.data.description | safe }}</p>
  </div>
</article>
