<article>
  <header>
    <time class="u-eyebrow">{{ entry.date | date_formatted }}</time>
    <h2 class="u-font-size-md"><a href="{{ entry.url }}">{{ entry.data.title }}</a></h2>
  </header>
</article>
