<header class="c-header">
  <div class="c-header__lockup">
    <a rel="home" href="/">Alex Carpenter</a>
    <span>Front-end Web Developer</span>
  </div>
  {%- include 'components/navigation.liquid' -%}
</header>
