<header class="c-header">
  <div class="c-header__lockup">
    <a rel="home" href="/">{{ app.title }}</a>
    <span>Front-end Web Developer</span>
  </div>
  {% include 'components/nav.liquid' %}
</header>
