{% macro header(params) %}
  <header class="c-header c-header--{{ params.type | default('page') }}">
    <h1 class="c-header__heading u-font-size-xxl u-heading-decorate">{{ params.title }}</h1>
    <p class="c-header__description u-font-size-md u-line-height-tighten u-margin-top-05">{{ params.description }}</p>
    {% if params.extra %}
      {{ params.extra | markdownify | safe }}
    {% endif %}
  </header>
{% endmacro %}
