<header class="c-header">
  <div class="o-wrapper">
    <div class="c-header__inner">
      <div class="c-header__lockup">
        <a rel="home" href="/">{{ app.title }}</a>
        <span>Front-end Web Developer</span>
      </div>
      {% include 'components/nav.liquid' %}
    </div>
  </div>
</header>
