<header class="c-intro">
  {% if title != '' -%}
    <h1 class="c-intro__title">{{ title }}</h1>
  {%- endif %}

  {% if excerpt -%}
    <div class="c-intro__lead">
      {{ excerpt | markdownify }}
    </div>
  {%- endif %}
</header>
