{% import "components/macros.njk" as components %}
<ul class="c-listing c-listing--4">
  {% for entry in pagination.items %}
  <li class="c-listing__item">
    {{ components.entry({ entry: entry }) }}
  </li>
  {% endfor %}
</ul>
