{#
  Component macros:

  {% import "components/macros.njk" as components %}
  {{ components.youtube({ title: "Sample title", id: "fdafd32fka" }) }}

  Currently not indenting since when using these macros in markdown files
  it will render as code snippets...
#}


{% macro newsletter(args) %}
<div class="c-box">
<div class="o-stack">
<h3 class="u-font-size-md u-flex u-align-center">
<svg class="u-flex-shrink-0 u-margin-right-2" focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="1em" viewBox="0 0 24 24">
<path d="M0 0h24v24H0z" fill="none"/>
<path fill="var(--theme-color-gray)" d="M10.09 15.59L11.5 17l5-5-5-5-1.41 1.41L12.67 11H3v2h9.67l-2.58 2.59zM19 3H5a2 2 0 00-2 2v4h2V5h14v14H5v-4H3v4a2 2 0 002 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"/>
</svg>
{{ args.heading | default('Keep up to date') }}
</h3>
{% if args.description %}
<p>{{ args.description }}</p>
{% endif %}
{% include "components/newsletter-form.njk" %}
</div>
</div>
{% endmacro %}


{% macro youtube(args) %}
<figure style="--aspect-ratio: 16/9;">
<iframe title="{{ args.title }}" width="560" height="315" src="https://www.youtube.com/embed/{{ args.id }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</figure>
{% endmacro %}


{% macro pill(args) %}
{% if args.url %}
<a class="c-pill" href="{{ args.url }}">{{ args.label }}</a>
{% else %}
<span class="c-pill">{{ args.label }}</span>
{% endif %}
{% endmacro %}


{% macro link(args) %}
<a href="{{ args.url }}" class="c-link"{% if args.external %} rel="external"{% endif %}{% if args.download %} download{% endif %}>
{% if args.text %}{{ args.text }}{% else %}{{ args.url | hostname }}{% endif %}
{% if args.download %}
<svg xmlns="http://www.w3.org/2000/svg" focusable="false" width="1em" height="1em" aria-hidden="true" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-download"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="7 10 12 15 17 10"></polyline><line x1="12" y1="15" x2="12" y2="3"></line></svg>
{% else %}
{% if args.external %}
<svg xmlns="http://www.w3.org/2000/svg" focusable="false" width="1em" height="1em" aria-hidden="true"  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path><polyline points="15 3 21 3 21 9"></polyline><line x1="10" y1="14" x2="21" y2="3"></line></svg>
{% else %}
<svg xmlns="http://www.w3.org/2000/svg" focusable="false" width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
{% endif %}
{% endif %}
</a>
{% endmacro %}


{% macro figure(args) %}
<figure{% if args.bordered %} class="u-bordered"{% endif %}>
<div style="--aspect-ratio: {{ args.ratio | default('16/9') }};">
<img src="{{ args.src }}" alt="{{ args.alt }}"{% if args.lazyload | default(false) %} loading="lazy"{% endif %} />
</div>
{% if args.caption %}
<figcaption class="u-text-center u-margin-top-1 u-color-gray">{{ args.caption | markdownify_inline | safe }}</figcaption>
{% endif %}
</figure>
{% endmacro %}


{% macro note(args) %}
<div class="c-note c-note--{{ args.type | default('default') }}">
<p><span class="c-note__label{% if args.labelHidden%} u-hidden-visually{% endif %}">{{ args.label | default('Note') }}: </span>{{ args.text | markdownify_inline | safe }}{% if args.link %}<br>{{ link({ url: args.link.url, text: args.link.text }) }}{% endif %}</p>
</div>
{% endmacro %}


{% macro quote(args) %}
<figure class="c-quote c-quote--{{ args.variant | default('default') }}">
<blockquote class="c-quote__blockquote">
<p>{{ args.text | markdownify_inline | safe }}</p>
</blockquote>
{% if args.cite %}
<figcaption class="c-quote__cite">
{% if args.cite.twitter or args.cite.avatar %}
<div class="c-quote__cite-media">
{% if args.cite.twitter %}
<img class="c-avatar u-flex-shrink-0" width="48" height="48" src="https://unavatar.now.sh/twitter/{{ args.cite.twitter }}" alt="{{ args.cite.name }}" loading="lazy">
{% elif args.cite.avatar %}
<img class="c-avatar u-flex-shrink-0" width="48" height="48" src="{{ args.cite.avatar }}" alt="{{ args.cite.name }}" loading="lazy">
{% endif %}
</div>
{% endif %}
<div class="c-quote__cite-body">
<p class="u-font-weight-semi-bold u-leading-tight">{{ args.cite.name }}</p>
{% if args.cite.title %}
<p class="u-font-size-small u-color-gray">{{ args.cite.title }}</p>
{% endif %}
</div>
</figcaption>
</figure>
{% endif %}
{% endmacro %}


{% macro entry(args) %}
{% set data = args.entry.data %}
<article>
<span class="u-color-gray u-flex u-align-center">
<span class="u-hidden-visually">{{ data.type }}</span>
{% if data.type == 'bookmark' %}
<svg aria-hidden="true" focusable="false" class="u-margin-right-2 u-flex-shrink-0" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"></path></svg>
{% elif data.type == 'screencast' %}
<svg aria-hidden="true" focusable="false" class="u-margin-right-2 u-flex-shrink-0" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polygon points="23 7 16 12 23 17 23 7"></polygon><rect x="1" y="5" width="15" height="14" rx="2" ry="2"></rect></svg>
{% else %}
<svg aria-hidden="true" focusable="false" class="u-margin-right-2 u-flex-shrink-0" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
{% endif %}
<time class="u-color-gray u-text-uppercase" datetime="{{ args.entry.date }}">{{ args.entry.date | date_formatted }}</time>
</span>
<h2 class="u-font-size-{{ args.size | default('lg') }} u-font-weight-normal u-margin-top-1"><a href="{{ args.entry.url }}">{{ data.title }}</a></h2>
{% if data.type == 'bookmark' %}
<p class="u-margin-top-2 u-color-gray">{{ data.link | hostname }}</p>
{% endif %}
</article>
{% endmacro %}


{% macro video(args) %}
<figure class="c-video">
<div class="c-video__backdrop"{% if args.backdrop %} style="--backdrop: {{ args.backdrop }};"{% endif %}>
<div style="--aspect-ratio: {{ args.ratio | default('16/9') }};">
<video autoPlay loop muted controls>
<source src="{{ args.url }}" type="video/mp4">
<p>Your browser doesn't support HTML5 video. Here is a <a href="{{ args.url }}">link to the video</a> instead.</p>
</video>
</div>
</div>
{% if args.caption %}
<figcaption class="u-text-center c-video__caption">{{ args.caption | markdownify_inline | safe }}</figcaption>
{% endif %}
</figure>
{% endmacro %}
