<nav class="c-nav">
  <ul class="c-nav__list">
    <li class="c-nav__list-item"><a class="c-nav__list-anchor" href="/">Home</a></li>
    <li class="c-nav__list-item"><a class="c-nav__list-anchor" href="/posts/">Posts</a></li>
    <li class="c-nav__list-item"><a class="c-nav__list-anchor" href="/now/">Now</a></li>
    {# <li class="c-nav__list-item"><a class="c-nav__list-anchor" href="/uses/">Uses</a></li> #}
    {# <li class="c-nav__list-item"><a class="c-nav__list-anchor" href="/newsletter/">Newsletter</a></li> #}
    <li class="c-nav__list-item"><a class="c-nav__list-anchor" href="/contact/">Contact</a></li>
  </ul>
</nav>
