<form
  action="https://buttondown.email/api/emails/embed-subscribe/alexcarpenter"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/alexcarpenter', 'popupwindow')"
  class="embeddable-buttondown-form c-form"
>
  <input type="hidden" value="1" name="embed"/>
  <div class="c-form__row">
    <label class="c-form__label" for="bd-email">Enter your email</label>
    <div class="c-form__input-group">
      <input class="c-form__input" type="email" name="email" id="bd-email" required>
      <input class="c-form__button" type="submit" value="Join Now" />
    </div>
    <small class="c-form__info"><a href="https://buttondown.email" target="_blank">Powered by Buttondown.</a></small>
  </div>
</form>
