<form
  action="https://buttondown.email/api/emails/embed-subscribe/alexcarpenter"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/alexcarpenter', 'popupwindow')"
  class="embeddable-buttondown-form"
>
  <input type="hidden" value="1" name="embed"></input>
  <div class="c-form__row c-form__row--button">
    <div>
      <label class="c-form__label" for="bd-email">Your email</label>
      <input class="c-form__input" type="email" name="email" id="bd-email" required>
    </div>
    <input class="c-button c-button--primary" type="submit" value="Subscribe"></input>
  </div>
  <small class="u-flex u-margin-top-1 u-color-gray">No spam, unsubscribe at any time.</small>
</form>
