{% macro offsiteLink(params) -%}
  <a class="c-offsite-link{% if params.class %} {{ params.class }}{% endif %}" rel="external nofollow" href="{{ params.url }}">
    {% include "components/arrow-right.njk" %}
    {% if params.text -%}
      {{ params.text }}
    {% else %}
      {{ params.url | replace('https://', '') }}
    {%- endif %}
  </a>
{%- endmacro %}
