<nav class="c-pagination">
  {% if pagination.nextPageLink -%}
    {% set nextPageNumber = pagination.pageNumber + 1 %}
    {% set nextPageLink = 'page/' ~ nextPageNumber %}
    <a class="c-pagination__item" href="/{{ page.fileSlug }}/{{ nextPageLink }}" rel="prev"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="1em" height="1em" aria-hidden="true"viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/></svg> Older</a>
  {%- endif %}

  {% if pagination.previousPageLink -%}
    {% set previousPageNumber = pagination.pageNumber - 1 %}
  {%- if pagination.pageNumber == 1 -%}
    {% set previousPageLink = '' %}
  {%- else -%}
    {% set previousPageLink = 'page/' ~ previousPageNumber %}
  {%- endif -%}
    <a class="c-pagination__item" href="/{{ page.fileSlug }}/{{ previousPageLink }}" rel="next">Newer <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="1em" height="1em" aria-hidden="true"viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/></svg></a>
  {%- endif %}
</nav>

