<nav class="c-pagination">
  {{ page.permalink }}
  {% if pagination.nextPageLink -%}
    {%- assign nextPageNumber = pagination.pageNumber | plus: 1 -%}
    {%- assign nextPageLink = nextPageNumber | prepend: 'page/' -%}
    <a class="c-pagination__item" href="{{ page.url }}{{ nextPageLink }}" rel="prev">Older</a>
  {%- endif %}
  {% if pagination.previousPageLink -%}
    {%- assign previousPageNumber = pagination.pageNumber | minus: 1 -%}
  {%- if pagination.pageNumber == 1 -%}
    <!-- How do I get back to landing paginated page -->
    {%- assign previousPageLink = page.url -%}
  {%- else -%}
    {%- assign previousPageLink = previousPageNumber | prepend: 'page/' -%}
  {%- endif -%}
    <a class="c-pagination__item" href="{{ previousPageLink }}" rel="next">Newer</a>
  {%- endif %}
</nav>
