{% from "components/definition-list.njk" import definitionList %}
{% from "components/offsite-link.njk" import offsiteLink %}

{% macro project(params) %}
  <article class="c-project{% if params.reversed %} c-project--reversed{% endif %}">
    <div class="c-project__media">
      {{ params.logo | safe }}
      {% Figure {
        src: '/assets/images/' + params.background,
        ratio: '4/3'
      } %}
    </div>
    <div class="c-project__info">
      {{ definitionList({
        class: "u-margin-bottom-025",
        items: [{
          title: "Roles",
          description: params.roles
        }]
      }) }}
      <h2 class="u-font-size-xl">{{ params.title }}</h2>
      <p class="u-margin-top-05">
        {{ params.summary | markdownify_inline | safe }}
      </p>
      {{ offsiteLink({
        class: 'u-margin-top-1',
        url: params.url
      }) }}
    </div>
  </article>
{% endmacro %}
