{% macro reference(params) %}
  <blockquote class="c-reference">
    {% if params.avatar %}
      <img class="c-reference__avatar" src="{{ params.avatar | safe }}" alt="" width="80">
    {% endif %}
    <p class="c-reference__body">“{{ params.body | safe }}”</p>
    <cite class="c-reference__cite">&ndash; {% if params.link %}<a href="{{ params.link }}">{% endif %}{{ params.cite }}{% if params.link %}</a>{% endif %}{% if params.title %}, {{ params.title }}{% endif %}</cite>
  </blockquote>
{% endmacro %}
