{% import "components/macros.njk" as components %}
{% if tags %}
<ul class="o-tags o-tags--center">
  {% for tag in tags %}
    <li class="o-tags__item">
      {{ components.pill({
        url: '/tagged/' + tag | kebab,
        label: tag
      }) }}
    </li>
  {% endfor %}
</ul>
{% endif %}
