<h2 class="u-font-size-md">Browse by topic</h2>
<ul class="c-topics-list">
  <li class="c-topics-list__item">
    <a href="/screencasts/tagged/html" class="c-topics-list__anchor">
      <span>HTML</span>
      <img class="c-topics-list__icon" src="/assets/images/icon-html.png" alt="HTML Icon">
    </a>
  </li>

  <li class="c-topics-list__item">
    <a href="/screencasts/tagged/css" class="c-topics-list__anchor">
      <span>CSS</span>
      <img class="c-topics-list__icon" src="/assets/images/icon-css.png" alt="CSS Icon">
    </a>
  </li>

  <li class="c-topics-list__item">
    <a href="/screencasts/tagged/javascript" class="c-topics-list__anchor">
      <span>JavaScript</span>
      <img class="c-topics-list__icon" src="/assets/images/icon-js.png" alt="JavaScript Icon">
    </a>
  </li>

  {# <li class="c-topics-list__item">
    <a href=""><span>View all topics <svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8-8-8z"/></svg></span></a>
  </li> #}
</ul>