---
layout: default
title: Home
---
<section class="mb4">
  <h2 class="mb1 h2">About ¬</h2>

  <p class="h3">I am a self-taught developer working at Mighty in the Midwest, making websites and experiences by way of HTML, SCSS/CSS, Javascript and CraftCMS.</p>

  <p class="h3">Outside of work I am currently exploring Vue.js, React.js, PostCSS and Styled Components. I also try and spend as much time fly fishing as I can.</p>
</section>

<section class="mb4">
  <h2 class="mb2 h2">Projects ¬</h2>

  <ul class="mt0 mxn1 list-reset flex flex-wrap">
  {% for project in site.data.projects %}
    <li class="col sm-col-6 mb1 px1">
      <h3 class="mb1 h4"><a href="{{ project.link }}">{{ project.title }}</a></h3>
      {{ project.description | markdownify }}
    </li>
  {% endfor %}
  </ul>
</section>

<section class="mb4">
  <h2 class="mb2 h2">Journal ¬</h2>

  <ul class="mt0 list-reset">
  {% for post in site.posts %}
    <li class="mb1"><a href="{{ post.url }}">{{ post.title }}</a> <time class="italic">{{ post.date | date: '%B %d, %Y' }}</time></li>
  {% endfor %}
  </ul>
</section>