{% spaceless %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% include '_partials/head.twig' %}
</head>
<body>
  <div class="u-hidden">{% include '_partials/icons.twig' %}</div>

  <main>{% block content %}{% endblock %}</main>

  {% include '_components/modal.twig' %}

  <script src="./assets/js/vendor.js"></script>
  <script src="./assets/js/app.js"></script>
</body>
</html>
{% endspaceless %}
