{% extends '_layout.twig' %}

{% block content %}

<header class="c-intro" role="banner">
  <div class="o-wrapper">
    <div class="c-intro__inner">
      <div class="c-intro__content">
        <h1 class="c-intro__title">Hi, I'm Alex Carpenter.</h1>
        <p class="c-intro__blurb">I'm a front-end developer focused on performance and accessibility.</p>
        <span class="c-intro__location">
          <svg width="16" height="21" viewBox="0 0 16 21" xmlns="http://www.w3.org/2000/svg"><path d="M8 1C4.13 1 1 4.13 1 8c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5S6.62 5.5 8 5.5s2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z" stroke="#00ac47" fill="none"/></svg>
          Grand Rapids, MI
        </span>
      </div>

      <ul class="c-intro__links">
        <li class="c-intro__link">
          <a href="https://github.com/alexcarpenter">Github</a>
        </li>

        <li class="c-intro__link">
          <a href="https://codepen.io/alexcarpenter/">CodePen</a>
        </li>

        <li class="c-intro__link">
          <a href="https://twitter.com/hybrid_alex">Twitter</a>
        </li>
      </ul>
    </div>
  </div>
</header>

{# <section>
  <div class="o-wrapper">
    <div class="c-checkers">
      <div class="c-checkers__row">
        <div class="c-checkers__primary">
          <h2>01 &mdash; Performance</h2>
          <svg width="22" height="12" viewBox="0 0 22 12" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><path id="a" d="M0 0h24v24H0z"/></defs><g transform="translate(-1 -6)" fill="none" fill-rule="evenodd"><mask id="b" fill="#fff"><use xlink:href="#a"/></mask><path d="M23 8c0 1.1-.9 2-2 2-.18 0-.35-.02-.51-.07l-3.56 3.55c.05.16.07.34.07.52 0 1.1-.9 2-2 2s-2-.9-2-2c0-.18.02-.36.07-.52l-2.55-2.55c-.16.05-.34.07-.52.07s-.36-.02-.52-.07l-4.55 4.56c.05.16.07.33.07.51 0 1.1-.9 2-2 2s-2-.9-2-2 .9-2 2-2c.18 0 .35.02.51.07l4.56-4.55C8.02 9.36 8 9.18 8 9c0-1.1.9-2 2-2s2 .9 2 2c0 .18-.02.36-.07.52l2.55 2.55c.16-.05.34-.07.52-.07s.36.02.52.07l3.55-3.56C19.02 8.35 19 8.18 19 8c0-1.1.9-2 2-2s2 .9 2 2z" fill="#fff" fill-rule="nonzero" mask="url(#b)"/></g></svg>
        </div>

        <div class="c-checkers__secondary">
          <div class="c-prose">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, ducimus distinctio reiciendis commodi at molestiae aliquam mollitia eligendi reprehenderit, corporis nesciunt placeat perspiciatis laudantium optio atque sint earum? Dicta, praesentium.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, asperiores. Cum laboriosam, quasi omnis libero, dolores hic quos! Ducimus dolor, corrupti rerum sapiente quidem nisi, mollitia animi libero ea temporibus!</p>
          </div>
        </div>
      </div>

      <div class="c-checkers__row c-checkers__row--reversed">
        <div class="c-checkers__primary">
          <h2>02 &mdash; Accessibility</h2>
          <svg width="18" height="20" viewBox="0 0 18 20" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M-3-2h24v24H-3"/><path d="M9 0c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2zm9 7h-6v13h-2v-6H8v6H6V7H0V5h18v2z" fill="#fff" fill-rule="nonzero"/></g></svg>
        </div>

        <div class="c-checkers__secondary">
          <div class="c-prose">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, ducimus distinctio reiciendis commodi at molestiae aliquam mollitia eligendi reprehenderit, corporis nesciunt placeat perspiciatis laudantium optio atque sint earum? Dicta, praesentium.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, asperiores. Cum laboriosam, quasi omnis libero, dolores hic quos! Ducimus dolor, corrupti rerum sapiente quidem nisi, mollitia animi libero ea temporibus!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> #}
{% endblock %}
