/* ==========================================================================
   COMPONENTS/INTRO
   ========================================================================== */


.c-intro {
  margin-bottom: units(4);

  @include mq($from: md) {
    margin-bottom: units(8);
  }
}

.c-intro__inner {
  display: flex;
  justify-content: space-between;
  color: #fff;

  @include mq($from: md) {
    padding-right: units(4);
    padding-left: units(4);
  }
}

.c-intro__title {
  margin-bottom: 12.5rem;
  font-size: 1.5rem;
}

.c-intro__blurb {
  margin-bottom: units(2);
  font-size: 1.5rem;

  @include mq($from: md) {
    max-width: 50%;
  }
}

.c-intro__location {
  display: flex;
  align-items: center;

  svg {
    margin-right: units(1);
  }
}

.c-intro__links {
  list-style: none;
  text-align: right;
}

.c-intro__link {
  margin-bottom: units(1);
}
