/* ==========================================================================
   COMPONENTS/FORM
   ========================================================================== */


.c-form {

}

.c-form__fieldset {}

.c-form__field {

  &:not(:last-of-type) {
    margin-bottom: units(2);
  }
}

.c-form__label {
  display: block;
  margin-bottom: units(.5);
}

.c-form__input {
  @include primaryFontLoaded;
  padding: units(1);
  width: 100%;
  font-size: 1rem;
  border: 1px solid #000;
}
