/* ==========================================================================
   COMPONENTS/DIALOG
   ========================================================================== */


// .c-modal {
//   position: fixed;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   padding: units(2);
//   width: 100%;
//   min-height: 100%;
//   display: flex;
//   align-items: center;
//   justify-content: center;

//   &[aria-hidden="true"] {
//     pointer-events: none;
//   }

//   &[aria-hidden="false"] {
//     pointer-events: auto;
//   }
// }

// .c-modal__overlay {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(#000, .9);
//   opacity: 0;
//   transition: all ease-in-out 0.2s;

//   .c-modal--active & {
//     opacity: 1;
//   }
// }

// .c-modal__content {
//   position: relative;
//   padding: units(2);
//   width: 100%;
//   max-width: 600px;
//   background: #fff;
//   color: #000;
//   opacity: 0;
//   transform: translateY(50px) scale(.95);
//   z-index: 10;
//   transition: all 0.3s cubic-bezier(0, 0, 0.3, 1);
//   margin: auto;

//   .c-modal--active & {
//     transform: none;
//     opacity: 1;
//   }
// }

// .c-modal__header {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   flex-direction: row-reverse;
//   margin-bottom: units(2);
// }


.c-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-dialog[aria-hidden="true"] {
  pointer-events: none;
}

.c-dialog[aria-hidden="false"] {
  pointer-events: auto;
}

.c-dialog__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  opacity: 0;
  transition: opacity ease-in-out 0.2s;
}

.c-dialog--active .c-dialog__overlay {
  opacity: 1;
}

.c-dialog__content {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background-color: #fff;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0, 0, 0.3, 1);
  z-index: 10;
  transform: translateY(50px);
}

.c-dialog__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  margin-bottom: units(2);
}

.c-dialog--active .c-dialog__content {
  opacity: 1;
  transform: none;
}
