/* ==========================================================================
   COMPONENTS/BUTTON
   ========================================================================== */


/**
 * Button reset to make buttons and hrefs
 * look similar
 */

.c-btn {
  appearance: none;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
}


/* 
   Button variants
   ========================================================================== */


/**
 * Button primary
 */

.c-btn--primary {
  padding: units(1) units(2);
  background-color: $c-primary;
  color: #fff;
  text-decoration: none;
}


/**
 * Button text
 */

.c-btn--text {
  text-decoration: underline;
  text-decoration-skip: ink;
  text-decoration-color: $c-primary;
}

