/* ==========================================================================
   COMPONENTS/BORDERED-LIST
   ========================================================================== */


.c-bordered-list {
  list-style: none;
}

.c-bordered-list__item {
  padding-top: units(1);
  padding-bottom: units(1);

  &:not(:last-of-type) {
    border-bottom: 1px solid #eee;
  }
}
