/* ==========================================================================
   COMPONENTS/INTRO
   ========================================================================== */


.c-intro {
  margin-bottom: var(--u-spacing-unit-8);
}


.c-intro__primary {
  margin-bottom: 12.5rem;
  display: flex;
  justify-content: space-between;
}

.c-intro__title {
  padding-right: var(--u-spacing-unit-2);
}

.c-intro__links {
  list-style: none;
  text-align: right;
}

.c-intro__link:not(:last-of-type) {
  margin-bottom: var(--u-spacing-unit-1);
}


.c-intro__secondary {

  @media (--mq-small) {
    max-width: 50%;
  }
}

.c-intro__blurb {
  margin-bottom: var(--u-spacing-unit-2);
}

.c-intro__location {
  display: flex;
  align-items: center;

  & svg {
    margin-right: var(--u-spacing-unit-1);
  }
}
