/* ==========================================================================
   COMPONENTS/CARD
   ========================================================================== */


.c-card {
  display: flex;
  justify-content: space-between;
  padding: var(--u-spacing-unit-4);
  background-color: var(--c-primary);
  color: #fff;
}

.c-card__media {
  margin-top: auto;
}
