/* ==========================================================================
   COMPONENTS/TABLE
   ========================================================================== */


.c-table__row {
  display: block;

  @media(--mq-small) {
    display: table-row;
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid var(--c-border-color);
  }
}

.c-table__cell {
  display: block;
  padding-top: var(--u-spacing-unit-2);
  padding-bottom: var(--u-spacing-unit-2);

  @media (--mq-small) {
    display: table-cell;

    &:first-of-type {
      width: 50%;
    }

    &:last-of-type {
      text-align: right;
    }
  }
}
