/* ==========================================================================
   COMPONENTS/INTRO
   ========================================================================== */


.c-intro {
  margin-bottom: var(--u-spacing-unit-4);
}

.c-intro--page {
  padding-top: var(--u-spacing-unit-4);
}

.c-intro__media {
  position: relative;
  display: block;
  margin-bottom: -15%;
  margin-right: calc(var(--u-spacing-unit-2) * -1);
  margin-left: calc(var(--u-spacing-unit-2) * -1);

  &:after {
    content: '';
    display: block;
    width: 100%;
    padding-bottom: 75%;
  }

  & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    opacity: .35;
    vertical-align: top;
  }
}

.c-intro__title {
  position: relative;
  font-size: 2rem;

  @media (--mq-small) {
    font-size: 3rem;
  }

  @media (--mq-medium) {
    font-size: 3.5rem;
  }
}
