/* ==========================================================================
   COMPONENTS/NAV
   ========================================================================== */


.c-nav {
  margin-bottom: var(--u-spacing-unit-2);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

  .c-nav__title {
    font-size: 2rem;
  }

  .c-nav__links {
    list-style: none;
    display: flex;
  }

  .c-nav__links-item:not(:first-of-type) {
    margin-left: var(--u-spacing-unit-2);
  }
