/* ==========================================================================
   COMPONENTS/FOOTER
   ========================================================================== */


.c-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.c-footer__social {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--u-spacing-unit-2);
  width: 100%;

  @media (--mq-medium) {
    margin-bottom: 0;
    width: auto;
  }
}

.c-footer__social-item {
  margin-right: var(--u-spacing-unit-1);
  margin-left: var(--u-spacing-unit-1);
}

.c-footer__social-link {
  display: block;

  &:hover svg,
  &:focus svg {
    opacity: .5;
  }

  & svg {
    display: block;
    transition: opacity ease-in-out 0.2s;
  }
}

.c-footer__etc {
  display: flex;
  justify-content: center;
  width: 100%;

  @media (--mq-small) {
    flex: 1;
    width: auto;
  }
}

.c-footer__etc--copy {
  margin-bottom: var(--u-spacing-unit-1);

  @media (--mq-small) {
    justify-content: flex-start;
    margin-bottom: 0;
  }

  @media (--mq-medium) {
    order: -1;
  }
}

.c-footer__etc--source {

  @media (--mq-small) {
    justify-content: flex-end;
  }
}

