/* ==========================================================================
   COMPONENTS/ENTRY
   ========================================================================== */


/**
 * Entry layout
 */

.c-entry {

  @media (--mq-medium) {
    display: flex;
  }

  &:not(:last-of-type) {
    margin-bottom: var(--u-spacing-unit-4);
  }
}

.c-entry__main {
  width: 100%;

  @media (--mq-medium) {
    max-width: calc(var(--u-max-width) * 1 / 2);
    padding-right: var(--u-spacing-unit-1);
  }
}

.c-entry__aside {
  width: 100%;

  @media (--mq-medium) {
    max-width: calc(var(--u-max-width) * 1 / 4);
    padding-left: var(--u-spacing-unit-1);
    text-align: right;
  }
}


/**
 * Entry elements
 */

.c-entry__header {
  margin-bottom: var(--u-spacing-unit-1);
}

.c-entry__title {}

.c-entry__excerpt {
  color: #999;

  & > *:not(:last-child) {
    margin-bottom: var(--u-spacing-unit-1);
  }

  & blockquote {
    padding-left: var(--u-spacing-unit-2);
    border-left: 1px solid var(--c-border);
  }
}

.c-entry__footer {
  padding-top: var(--u-spacing-unit-1);
}
