/* ==========================================================================
   COMPONENTS/BORDERED-LIST
   ========================================================================== */


.c-bordered-list {
  width: 100%;
  list-style: none;
}

.c-bordered-list__item {
  display: flex;
  padding-top: var(--u-spacing-unit-2);
  padding-bottom: var(--u-spacing-unit-2);

  /* &:not(:first-of-type) {
    padding-top: var(--u-spacing-unit-2);
  } */

  &:not(:last-of-type) {
    /* padding-bottom: var(--u-spacing-unit-2); */
    border-bottom: 1px solid var(--c-border-color);
  }
}


/*
   Bordered list variants
   ========================================================================== */

.c-bordered-list--pad-2 {

  & .c-bordered-list__item:not(:first-of-type) {
    padding-top: var(--u-spacing-unit-2);
  }

  & .c-bordered-list__item:not(:last-of-type) {
    padding-bottom: var(--u-spacing-unit-2);
  }
}

.c-bordered-list--pad-4 {

  & .c-bordered-list__item:not(:first-of-type) {
    padding-top: var(--u-spacing-unit-4);
  }

  & .c-bordered-list__item:not(:last-of-type) {
    padding-bottom: var(--u-spacing-unit-4);
  }
}
