/* ==========================================================================
   COMPONENTS/OFFLINE
   ========================================================================== */


.c-offline {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: var(--u-spacing-unit-1);
  background-color: var(--c-primary);
  color: #fff;

  & a {
    text-decoration-color: inherit;
  }
}

.c-offline__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-offline__dismiss {
  appearance: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
