/* ==========================================================================
   COMPONENTS/HEADING
   ========================================================================== */


.c-heading {
  font-size: 1.25rem;

  @media (--mq-small) {
    font-size: 1.5rem;
  }
}

.c-heading--decorate:after {
  content: ' ¬';
  color: var(--c-gray-7);
}
