/* ==========================================================================
   COMPONENTS/SKIP-TO
   ========================================================================== */


.c-skip-to {
  position: absolute;
  top: 0;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 10;
}

.c-skip-to__link {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  padding: var(--u-spacing-unit-1) var(--u-spacing-unit-1);
  background-color: var(--c-primary);
  white-space: nowrap;
  transform: translateY(-100%);

  &:focus {
    transform: none;
  }
}
