/* ==========================================================================
   COMPONENTS/TITLE
   ========================================================================== */


.c-title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.3;

  @media (--mq-small) {
    font-size: 3rem;
  }
}
