/* ==========================================================================
   COMPONENTS/TITLE
   ========================================================================== */


.c-title {
  font-size: 2.5rem;
  font-weight: 700;

  @media (--mq-small) {
    font-size: 3.5rem;
  }
}
