/* ==========================================================================
   COMPONENTS/PAGINATION
   ========================================================================== */


.c-pagination {
  padding-top: var(--u-spacing-unit-8);
  display: flex;
  justify-content: space-between;
}

.c-pagination__next {
  margin-left: auto;
}
