/* ==========================================================================
   OBJECTS/LAYOUT
   ========================================================================== */


.o-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  grid-template-areas:
    'banner'
    'main'
    'meta';
}


/* Banner */
.o-layout__banner {
  grid-area: banner;
}


/* Main */
.o-layout__main {
  grid-area: main;
}


/* Aside */
.o-layout__aside {
  grid-area: meta;
}


@media (--from-medium-viewport) {
  .o-layout {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      'banner banner banner banner'
      'meta main main main'
      'meta main main main';
  }
}
