/* ==========================================================================
   OBJECTS/WRAPPER
   ========================================================================== */


.o-wrapper {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}
