/* ==========================================================================
   SETTINGS/VARIABLES
   ========================================================================== */


// Breakpoints
$mq-breakpoints: (
  sm: 320px,
  md: 740px,
  lg: 980px
);

// Units
$u-base-font-size: 16px;
$u-spacing-unit: 0.75rem;
$u-wrapper-width: 1200px / $u-base-font-size;

// Font families
$ff-monospace-fallback: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
$ff-monospace: 'Roboto Mono', 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;

// Colors
$c-sky-blue: #0055FF;
$c-lime-7: #43cb00;

$c-gray-0: #f8f9fa;
$c-gray-7: #777777;
$c-gray-9: #3a3f4a;

$c-primary: $c-sky-blue;
