:root {
  --ff-fallback: helvetica neue, helvetica, arial, sans-serif;
  --ff-primary: 'Roboto', var(--ff-fallback);

  --c-saffron: #FFBF32;
  --c-sky-blue: #05F;
  --c-gray-3: #303030;
  --c-gray-7: #777;

  --c-background: #161B21;
  --c-border: #738395;
  --c-primary: #f30;

  --u-spacing-unit-1: 0.75rem;
  --u-spacing-unit-2: 1.5rem;
  --u-spacing-unit-3: 2.25rem;
  --u-spacing-unit-4: 3rem;
  --u-spacing-unit-8: 6rem;

  --u-max-width: 50rem;
}
