:root {
  --ff-fallback: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  --ff-primary: 'Roboto Mono', 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;

  --c-sky-blue: #05F;
  --c-gray-3: #303030;
  --c-gray-7: #777;
  --c-border-color: var(--c-gray-3);
  --c-primary: var(--c-sky-blue);

  --u-spacing-unit-1: 0.75rem;
  --u-spacing-unit-2: 1.5rem;
  --u-spacing-unit-3: 2.25rem;
  --u-spacing-unit-4: 3rem;
  --u-spacing-unit-8: 6rem;

  --u-max-width: 75rem;
}
