/* ==========================================================================
   UTILITIES/TYPESCALE
   ========================================================================== */


.u-heading {
  font-size: 1.25rem !important;

  @include mq($from: md) {
    font-size: 1.5rem !important;
  }
}

.u-heading--decorate {

  &:after {
    content: ' ¬';
  }
}
