/* ==========================================================================
   UTILITIES/FLEXBOX
   ========================================================================== */


.u-flex {
  display: flex;
}

.u-flex-1 {
  flex: 1;
}

.u-justify-end {
  justify-content: flex-end;
}
