/* ==========================================================================
   UTILITIES/HEADINGS
   ========================================================================== */


.u-heading-label {
  margin-bottom: var(--spacing-unit-large);
  padding-bottom: var(--spacing-unit-base);
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 1px solid var(--border-color);
}