/* ==========================================================================
   UTILITIES/MARGINS
   ========================================================================== */


.u-margin-bottom-base {
  margin-bottom: var(--spacing-unit-base) !important;
}

.u-margin-bottom-tiny {
  margin-bottom: var(--spacing-unit-tiny) !important;
}

.u-margin-bottom-small {
  margin-bottom: var(--spacing-unit-small) !important;
}

.u-margin-bottom-large {
  margin-bottom: var(--spacing-unit-large) !important;
}

.u-margin-bottom-huge {
  margin-bottom: var(--spacing-unit-huge) !important;
}


@media (--mq-from-md) {
  .u-margin-bottom-base\@md {
    margin-bottom: var(--spacing-unit-base) !important;
  }
  
  .u-margin-bottom-tiny\@md {
    margin-bottom: var(--spacing-unit-tiny) !important;
  }
  
  .u-margin-bottom-small\@md {
    margin-bottom: var(--spacing-unit-small) !important;
  }
  
  .u-margin-bottom-large\@md {
    margin-bottom: var(--spacing-unit-large) !important;
  }
  
  .u-margin-bottom-huge\@md {
    margin-bottom: var(--spacing-unit-huge) !important;
  }
}