/* ==========================================================================
   BASE
   ========================================================================== */


*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  line-height: 1.15;
  overflow-x: hidden;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: var(--spacing-unit-large) var(--spacing-unit-base);
  background-color: var(--body-background-color);
  color: var(--body-color);
  font-family: var(--font-family-fallback);
  font-size: var(--body-font-size);
  line-height: 1.6;

  @media (--mq-from-md) {
    padding-top: var(--spacing-unit-huge);
    padding-bottom: var(--spacing-unit-huge);
  }
}

.fonts-loaded body {
  font-family: var(--font-family-primary);
}

h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend {
  margin: 0;
  padding: 0;
}

:--headings {
  font-weight: 900;
  line-height: 1.2;
}

h1 {
  font-size: 36px;
}

img,
svg {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

svg path {
  fill: currentColor;
}

a {
  color: currentcolor;
  text-decoration-skip: ink;
  text-decoration-color: var(--link-border-color);
}

a:hover,
a:focus {
  text-decoration: none;
  outline: 2px solid var(--link-border-color);
}

time {
  white-space: nowrap;
  font-style: italic;
}