/* ==========================================================================
   VARIABLES
   ========================================================================== */


:root {
  --spacing-unit-base: 18px;
  --spacing-unit-tiny: calc(var(--spacing-unit-base) * 0.25);
  --spacing-unit-small: calc(var(--spacing-unit-base) * 0.5);
  --spacing-unit-large: calc(var(--spacing-unit-base) * 2);
  --spacing-unit-huge: calc(var(--spacing-unit-base) * 4);

  --body-font-size: var(--spacing-unit-base);
  --body-background-color: #fafafa;
  --body-color: #333;

  --font-family-fallback: helvetica neue, helvetica, arial, sans-serif;
  --font-family-primary: 'Roboto', var(--font-family-fallback);

  --border-color: rgba(0, 0, 0, .2);

  --link-border-color: #f30;

  --button-color: #fff;
  --button-background-color: var(--link-border-color);

  --wrapper-max-width: 1000px;
}


/**
 * Custom selectors
 */

@custom-selector :--headings h1, h2, h3, h4, h5, h6;


/**
 * Custom media selectors
 */

@custom-media --mq-from-sm screen and (min-width: 320px);
@custom-media --mq-from-md screen and (min-width: 740px);
@custom-media --mq-from-lg screen and (min-width: 980px);
@custom-media --mq-from-xl screen and (min-width: 1024px);

@custom-media --mq-until-sm screen and (max-width: 320px);
@custom-media --mq-until-md screen and (max-width: 740px);
@custom-media --mq-until-lg screen and (max-width: 980px);
@custom-media --mq-until-xl screen and (max-width: 1024px);