{%- layout 'layouts/default.liquid' -%}
{% block main -%}
  {%- include 'components/intro.liquid' -%}
  <div class="c-prose">
    {{ content }}
    <hr>
    <a rel="external" href="{{ link }}">Visit link</a>
  </div>
{%- endblock %}
