{%- layout 'layouts/default.liquid' -%}
{% block main -%}
  {%- include 'components/intro.liquid' -%}
  <div class="c-prose">
    {%- include 'components/form.liquid' -%}
    {{ content }}
  </div>
{%- endblock %}
