<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  {% set css %}{% include "assets/app.css" %}{% endset %}
  <style>{{ css | cssmin | safe }}</style>
</head>
<body>
  <a class="c-skip-link" href="#main-content">Skip to main content</a>
  {% include "components/navigation.njk" %}
  <main id="main-content" tabindex="-1">
    {% include 'components/pageHeader.njk' %}
    {% block main %}{% endblock %}
  </main>
  {% include "components/footer.njk" %}
</body>
</html>
