<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#0055FF" />
  <meta name="robots" content="index,follow" />

  <title>{% if title and page.url != '/' %}{{ title }}{% else %}UI Engineer{% endif %} - {{ site.title }}</title>
  <meta name="description" content="{% if summary %}{{ summary | markdownify_inline | strip_html }}{% else %}{{ site.description }}{% endif %}" />

  <meta property="og:title" content="{% if title and page.url != '/' %}{{ title }}{% else %}UI Engineer{% endif %} - {{ site.title }}">
  <meta property="og:description" content="{% if summary %}{{ summary | markdownify_inline | strip_html }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:url" content="{{ site.url }}{{ page.url | permalink }}">
  <meta property="og:image" content="{{ site.url }}{%if thumbnail %}{{ thumbnail }}{% else %}/assets/images/og-image.png{% endif %}">

  <meta name="twitter:site" content="@hybrid_alex">
  <meta name="twitter:creator" content="@hybrid_alex">
  <meta name="twitter:title" content="{% if title and page.url != '/' %}{{ title }}{% else %}UI Engineer{% endif %} - {{ site.title }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:image" content="{{ site.url }}{%if thumbnail %}{{ thumbnail }}{% else %}/assets/images/og-image.png{% endif %}">

  <link rel="shortcut icon" href="/assets/images/favicon.ico">

  <link rel="alternate" type="application/rss+xml" title="Feed for posts" href="/posts/feed.xml" />
  <link rel="alternate" type="application/rss+xml" title="Feed for bookmarks" href="/bookmarks/feed.xml" />
  <link rel="alternate" type="application/rss+xml" title="Feed for screencasts" href="/screencasts/feed.xml" />

  {% set css %}
    {% include "assets/fonts.css" %}
    {% include "assets/app.css" %}
    {% include "assets/prism.css" %}
    {% if primaryColor %}
      :root { --color-primary: {{ primaryColor }}; }
    {% endif %}
  {% endset %}
  <style>
  {% if env.environment == "production" %}
    {{ css | cssmin | safe }}
  {% else %}
    {{ css | safe }}
  {% endif %}
  </style>
</head>
<body>
  <a href="#main-content" class="c-skip">Skip to main content</a>
  <div class="o-container">
    {% include "components/banner.njk" %}
    <main id="main-content">
      {% block header %}{% endblock %}
      {% block content %}{% endblock %}
    </main>
  </div>
  {% include "components/contentinfo.njk" %}
  <script src="//instant.page/3.0.0" type="module" defer integrity="sha384-OeDn4XE77tdHo8pGtE1apMPmAipjoxUQ++eeJa6EtJCfHlvijigWiJpD7VDPWXV1"></script>
</body>
</html>
