{%- layout 'layouts/default.liquid' -%}
{% block main -%}
  {%- include 'components/intro.liquid' -%}
  {% for item in collections.all limit: 10 -%}
    {%- assign entrytype = item.data.type | prepend: 'entry/' | append: '.liquid' -%}
    {%- include entrytype %}
  {%- endfor -%}
  <nav class="c-pagination">
    <a class="c-pagination__item" href="/archives/page/1" rel="prev">Older</a>
  </nav>
{%- endblock %}
