{% extends 'layouts/page.njk' %}
{% import "components/macros.njk" as components %}

{% block content %}
  {% block beforeListing %}{% endblock %}
  <div class="u-margin-top-5">
    {% include "components/listing.njk" %}
  </div>
  <div class="u-margin-top-5">
    {% include "components/pagination.njk" %}
  </div>
{% endblock %}
