{% extends 'layouts/default.njk' %}
{% set title = "Note: " + page.date | date_formatted %}

{% block main %}
  <article class="o-layout">
    <div class="o-layout__item u-width-two-thirds">
      <div class="c-prose">
        {{ content | safe }}
        <p><a class="c-prose__date" href="{{ page.url | permalink }}">{{ page.date | date_formatted }}</a></p>
      </div>
    </div>
  </article>
{% endblock %}
