{% extends 'layouts/default.njk' %}

{% block main %}
  <h1 class="c-heading-decorate u-font-size-2xl u-font-size-3xl@md">{{ title }}</h1>
  <div class="u-margin-top-2">
    {% if intro %}
      <div class="o-stack o-stack--lead">{{ intro | markdownify | safe }}</div>
    {% elseif description %}
      <p role="doc-subtitle" class="u-font-size-lg u-leading-tight">{{ description | markdownify_inline | safe }}</p>
    {% endif %}
  </div>
  <div class="u-margin-top-5">
    {% block content %}{% endblock %}
  </div>
{% endblock %}
