{% extends 'layouts/default.njk' %}

{% block header %}
  <header class="o-content">
    <h1 class="u-h1-decorate">{{ title }}</h1>
    <p class="u-lead">{{ summary | markdownify_inline | safe }}</p>
  </header>
{% endblock %}

{% block content %}{% endblock %}
