{% extends 'layouts/default.njk' %}

{% block pageTop %}
  <header class="c-page-header">
    {% if heading and heading === true %}
      <h1 class="c-page-header__heading">{{ title }}</h1>
    {% else %}
      <h1 class="c-page-header__title">{{ title }}</h1>
    {% endif %}
    {% if description %}
      <p class="c-page-header__description">{{ description | markdownify_inline | safe }}</p>
    {% endif %}
  </header>
{% endblock %}

{% block main %}{% endblock %}
