{% extends 'layouts/default.njk' %}

{% block content %}
  <article>
    <header class="o-content">
      <time class="u-eyebrow">{{ date | date_formatted }}</time>
      <h1>{{ title }}</h1>
    </header>
    <div class="o-content">
      {{ content | safe }}
    </div>
  </article>
{% endblock %}
