{% extends 'layouts/default.njk' %}

{% block content %}
  <article>
    <header class="o-content">
      <time class="u-eyebrow">{{ date | date_formatted }}</time>
      <h1>{{ title }}</h1>
      {% if link %}
        <p class="u-margin-top-025">
          <a class="u-link" href="{{ link }}">Visit link <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="1em" height="1em" aria-hidden="true"viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/></svg></a>
        </p>
      {% endif %}
    </header>
    <div class="o-content">
      {{ content | safe }}
    </div>
  </article>
{% endblock %}
