{% extends 'layouts/default.njk' %}

{% block main %}
  <div class="o-grid o-grid--justify-end">
    <header class="o-grid__col u-width-8of12@md">
      <time class="c-eyebrow">{{ page.date | date_formatted }}</time>
      <h1 class="u-font-size-2xl">{{ title }}</h1>
      {% Link site.social[0].subscribe, "Subscribe on Youtube", true %}
    </header>
  </div>
  <div class="o-grid">
    <div class="o-grid__col">
      {% Youtube youtubeId, false, false, title %}
    </div>
  </div>
  <div class="o-grid o-grid--justify-end">
    {% if content %}
    <div class="o-grid__col u-width-8of12@md">
      <div class="o-stack o-stack--prose">
        {{ content | safe }}
      </div>
    </div>
    {% endif %}
    <div class="o-grid__col u-width-8of12@md">
      {% include "components/share.njk" %}
      {% include "components/tags.njk" %}
    </div>
  </div>
{% endblock %}
