{% extends 'layouts/default.njk' %}

{% block content %}
  <article>
    <header class="u-margin-bottom-2">
      <time class="u-eyebrow">{{ date | date_formatted }}</time>
      <h1 class="u-font-size-xl">{{ title }}</h1>
      <p class="u-margin-top-025">
        {% Link site.youtubeSubscribe, "Subscribe on Youtube" %}
        </p>
    </header>
    <div class="u-linear">
      {% Youtube youtubeId %}
      {{ content | safe }}
    </div>
    <div class="u-margin-top-3">
      {% include "components/share.njk" %}
    </div>
  </article>
{% endblock %}
