{% extends 'layouts/default.njk' %}
{% import "components/macros.njk" as components %}

{% block main %}
  <article>
    <header>
      <p class="u-color-gray u-text-uppercase">Case study</p>
      <h1 class="u-font-size-2xl">{{ title }}</h1>
      {% if description %}
        <p role="doc-subtitle" class="u-font-size-lg u-leading-tight u-margin-top-2">{{ description | markdownify_inline | safe }}</p>
      {% endif %}
      {% if link %}
        <div class="u-margin-top-1">{{ components.link({ url: link, external: true }) }}</div>
      {% endif %}
    </header>
    {% if banner %}
      {% Breakout %}
        {% Container 'lg' %}
          <div class="u-margin-top-4">
            {{ components.figure({
              src: '/assets/images/' + banner,
              alt: title + ' graphics',
              bordered: true
            }) }}
          </div>
        {% endContainer %}
      {% endBreakout %}
    {% endif %}
    <div class="u-margin-top-4">
      <dl class="c-meta">
        <dt class="c-meta__title">Role</dt>
        <dd class="u-color-gray">
          {% set comma = joiner() %}
          {% for item in roles -%}{{ comma() }} {{ item }}{%- endfor %}
        </dd>
        <dt class="c-meta__title">Tech</dt>
        <dd class="u-color-gray">
          {% set comma = joiner() %}
          {% for item in tech -%}{{ comma() }} {{ item }}{%- endfor %}
        </dd>
        {% if team %}
        <dt class="c-meta__title">Team</dt>
        <dd class="u-color-gray">{{ team }}</dd>
        {% endif %}
      </dl>
    </div>
    <div class="o-stack o-stack--prose u-margin-top-4">
      {{ content | safe }}
    </div>
  </article>
{% endblock %}
