{% extends 'layouts/default.njk' %}

{% block content %}
  <article>
    <header class="o-content u-text-center">
      <span class="u-eyebrow">Case Study</span>
      <h1>{{ title }}</h1>
      <p class="u-margin-top-025">{% Link link %}</p>
      <p class="u-lead">{{ summary }}</p>
      {% if banner %}
        {% Figure {
          fullWidth: true,
          src: '/assets/images/' + banner,
          alt: title + ' graphics',
          border: true
        } %}
      {% endif %}
    </header>
    <div class="o-content">
      <dl class="c-meta">
        <dt class="c-meta__title">Role</dt>
        <dd class="c-meta__description">
          {% set comma = joiner() %}
          {% for item in roles -%}{{ comma() }} {{ item }}{%- endfor %}
        </dd>
        <dt class="c-meta__title">Tech</dt>
        <dd class="c-meta__description">
          {% set comma = joiner() %}
          {% for item in tech -%}{{ comma() }} {{ item }}{%- endfor %}
        </dd>
        <dt class="c-meta__title">Team</dt>
        <dd class="c-meta__description">{{ team }}</dd>
      </dl>
      {{ content | safe }}
    </div>
  </article>
{% endblock %}
