<section class="c-section">
  <header class="c-section__header">
    <h2 class="c-section__title">Experience</h2>
  </header>

  <div class="c-section__content">
    {% for item in site.data.experience %}
    <article class="c-entry">
      <div class="c-entry__main">
        <header class="c-entry__header">
          <h2 class="c-entry__title">{{ item.company }}</h2>
          <!-- <span>↳ {{ item.title }}</span> -->
        </header>
        {% if item.description %}
        <div class="c-entry__excerpt">
          {{ item.description | markdownify }}
        </div>
        {% endif %}
      </div>

      <aside class="c-entry__aside">
        <span>{{ item.start_date }} &ndash; {% if item.end_date %}{{ item.end_date }}{% else %}Currently{% endif %}</span>
      </aside>
    </article>
    {% endfor %}
  </div>
</section>

