<section class="c-section">
  <header class="c-section__header">
    <h2 class="c-section__title">Interviews</h2>
  </header>

  <div class="c-section__content">
    {% for item in site.data.interviews %}
    <article class="c-entry">
      <div class="c-entry__main">
        <header class="c-entry__header">
          <h2 class="c-entry__title">{{ item.title }}</h2>
          <!-- <span>↳ <time>{{ item.date }}</time></span> -->
        </header>
        <div class="c-entry__excerpt">
          {{ item.description | markdownify }}
        </div>
      </div>

      <aside class="c-entry__aside">
        <a href="{{ item.link }}">{{ item.action }}</a>
      </aside>
    </article>
    {% endfor %}
  </div>
</section>

