<section class="u-margin-bottom-8">
  <div class="o-wrapper">
    <div class="o-layout o-layout--gutters">
      <div class="o-layout__item u-width-6@md">
        <article class="c-card">
          <div class="c-card__content">
            <h2 class="c-heading">Performance</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem tenetur nisi exercitationem dignissimos ut impedit voluptates mollitia facere veniam odio, cumque doloremque alias nam doloribus nesciunt. Nesciunt veritatis voluptatem tempore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem tenetur nisi exercitationem dignissimos ut impedit voluptates mollitia facere veniam odio, cumque doloremque alias nam doloribus nesciunt. Nesciunt veritatis voluptatem tempore.</p>
          </div>
          <svg class="c-card__media" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24"><defs><path d="M0 0h24v24H0V0z" id="a"/></defs><clipPath id="b"><use overflow="visible" xlink:href="#a"/></clipPath><path clip-path="url(#b)" d="M23 8c0 1.1-.9 2-2 2-.18 0-.35-.02-.51-.07l-3.56 3.55c.05.16.07.34.07.52 0 1.1-.9 2-2 2s-2-.9-2-2c0-.18.02-.36.07-.52l-2.55-2.55c-.16.05-.34.07-.52.07s-.36-.02-.52-.07l-4.55 4.56c.05.16.07.33.07.51 0 1.1-.9 2-2 2s-2-.9-2-2 .9-2 2-2c.18 0 .35.02.51.07l4.56-4.55C8.02 9.36 8 9.18 8 9c0-1.1.9-2 2-2s2 .9 2 2c0 .18-.02.36-.07.52l2.55 2.55c.16-.05.34-.07.52-.07s.36.02.52.07l3.55-3.56C19.02 8.35 19 8.18 19 8c0-1.1.9-2 2-2s2 .9 2 2z"/></svg>
        </article>
      </div>

      <div class="o-layout__item u-width-6@md">
        <article class="c-card">
          <div class="c-card__content">
            <h2 class="c-heading">Accessibility</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem tenetur nisi exercitationem dignissimos ut impedit voluptates mollitia facere veniam odio, cumque doloremque alias nam doloribus nesciunt. Nesciunt veritatis voluptatem tempore.</p>
          </div>
          <svg class="c-card__media" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2zm9 7h-6v13h-2v-6h-2v6H9V9H3V7h18v2z"/></svg>
        </article>
      </div>
    </div>
  </div>
</section>
