<section class="o-section">
  <div class="o-wrapper">
    <div class="c-blocks">
      <div class="c-blocks__row">
        <div class="c-blocks__item c-blocks__item--primary">
          <h2 class="c-heading">Performance</h2>
          <svg width="22" height="12"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#performance"></use></svg>
        </div>

        <div class="c-blocks__item c-blocks__item--secondary">
          <div class="c-prose">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, ducimus distinctio reiciendis commodi at molestiae aliquam mollitia eligendi reprehenderit, corporis nesciunt placeat perspiciatis laudantium optio atque sint earum? Dicta, praesentium.</p>
            <blockquote>
              <p>If you develop and test with a Motorola G4 starting today, and it performs ‘kinda well’, it’ll be amazing for everyone who uses newer, more powerful devices.</p>
              <cite>&mdash; Ben Schwarz, Calibre</cite>
            </blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, asperiores. Cum laboriosam, quasi omnis libero, dolores hic quos! Ducimus dolor, corrupti rerum sapiente quidem nisi, mollitia animi libero ea temporibus!</p>
          </div>
        </div>
      </div>

      <div class="c-blocks__row c-blocks__row--reversed">
        <div class="c-blocks__item c-blocks__item--primary">
          <h2 class="c-heading">Accessibility</h2>
          <svg width="18" height="20"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#accessibility"></use></svg>
        </div>

        <div class="c-blocks__item c-blocks__item--secondary">
          <div class="c-prose">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum a voluptas minus quia id perspiciatis quasi commodi voluptates, et accusamus eaque, sint iusto voluptatum neque officiis repellendus cupiditate quibusdam consequuntur.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, asperiores. Cum laboriosam, quasi omnis libero, dolores hic quos! Ducimus dolor, corrupti rerum sapiente quidem nisi, mollitia animi libero ea temporibus!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
