/* ==========================================================================
   OBJECTS/WRAPPER
   ========================================================================== */


.o-wrapper {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: var(--wrapper-max-width);
}