/* ==========================================================================
   OBJECTS/GRID
   ========================================================================== */


.o-grid {
  display: flex;
  flex-wrap: wrap;
}

.o-grid__item {
  width: 100%;
}


.o-grid--gutters {
  margin-right: units(-2);
  margin-left: units(-2);

  > .o-grid__item {
    padding-right: units(2);
    padding-left: units(2);
  }
}
