---
---

@charset 'utf-8';


// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i,700');


// Variables
$mono: 'Roboto Mono', monospace;
$base-font-size: 16;
$spacing-unit: (24 / $base-font-size) * 1rem; // 24px


// Reset/normalize
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: $mono;
  font-size: $base-font-size * 1px;
  line-height: 1.8;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: ($spacing-unit * 2) $spacing-unit;
  background-color: #1F252C;
  color: #fff;
}

h1, h2, h3,
h4, h5, h6 {
  margin-top: 0;
  line-height: 1.5;
  font-weight: 400;
}

p {
  margin-top: 0;
}

a {
  color: #fff;
  text-decoration: none;
}


// Container
.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: (600 / $base-font-size) * 1rem;
}


// Sections
.section {
  margin-bottom: ($spacing-unit * 3);
}

.section__heading {
  margin-bottom: $spacing-unit;

  &:after {
    content: '¬';
    margin-left: 4px;
  }
}


// Projects
.projects {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.projects__item {
  margin-bottom: $spacing-unit;
  display: flex;
  justify-content: space-between;
}

.projects__header {
  position: relative;
  display: flex;
}

.projects__branding {
  flex-shrink: 0;
  margin-top: 8px;
  margin-right: $spacing-unit;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.projects__branding--blink {
  animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
  to { visibility: hidden; }
}

.projects__title {
  flex: 33.33% 0 0;
  margin-bottom: 0;
  font-size: 1rem;
}

.projects__description {
  margin-bottom: 0;
  font-size: 0.875rem;
  color: rgba(#fff, .75);
}

.projects__timeline {
  font-size: 0.875rem;
}


// Grid
.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: $spacing-unit * -1;
}

.grid__item {
  width: 100%;
  padding-left: $spacing-unit;
}