---
---
@charset 'utf-8';


*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande";
  line-height: 1.6;
}

h1, h2, h3,
h4, h5, h6 {
  margin-top: 0;
  line-height: 1.4;
  font-weight: 800;
}

h1 a {
  color: #000;
}

p {
  margin-top: 0;
}

a:not(h1 a) {
  color: blue;

  &:visited {
    color: purple;
  }
}

strong,
.bold {
  font-weight: 800;
}

figure {
  margin-right: 0;
  margin-left: 0;
}

figcaption {
  margin-top: .5rem;
  font-style: italic;
}

img {
  max-width: 100%;
  vertical-align: top;
}

blockquote {
  margin-top: 0;
  margin-left: 0;
  padding-left: 1.5rem;
  font-style: italic;
  font-size: 1.25rem;
  border-left: 4px solid #eee;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  text-align: left;
}

tr {
  border-bottom: 1px solid #eee;
}

th,
td {
  padding-top: .5rem;
  padding-bottom: .5rem;
}