---
title: About
description: I’m Alex Carpenter, a front-end web developer focused on performance and accessibility.
permalink: /about/index.html
---
{% extends 'layouts/default.njk' %}
{% from "components/intro.njk" import intro %}

{% block main %}
  {{ intro({
    title: "About",
    lead: "I’m Alex Carpenter, a front-end web developer focused on performance and accessibility."
  }) }}

  <div class="o-grid-row">
    <div class="o-grid-col">
      {% Figure {
        src: '/assets/images/banner.jpg',
        alt: 'Photo of Alex Carpenter',
        caption: 'Photo by Jill DeVries'
      } %}
    </div>

    <div class="o-grid-col u-width-two-thirds">
      <div class="c-prose">
        <p>Throughtout the past five years i've worked professionally as a hybrid front-end developer/designer. Working confidently throughout the stack to produce semantic <a href="/posts/tagged/accessiblity/">accessible</a> markup, with modular <a href="/posts/tagged/css/">CSS</a>, and progressively enhance the experience with unobtrusive <a href="/posts/tagged/javascript/">JavaScript</a>.</p>
        <p>I live in Grand Rapids, Michigan, with my wife and our puppy, where we spend our time fly fishing, hiking, and seeking adventures offline.</p>
        <p>Checkout my <a href="/now/">now page</a> to see what I am up to right now.</p>
        <h2>Interviews</h2>
        <ul>
          <li><a href="https://developur.rs/posts/alex-carpenter/">Developurrs</a> - An interview series where web professionals about their beloved pets…and tech.</li>
          <li><a href="https://itunes.apple.com/us/podcast/alex-carpenter-show-me-your-coffee/id602836998?i=1000330208077&amp;mt=2">Show Me Your Mic</a> - A show that talks to podcasters about gear, software, workflow, and philosophies behind podcasting.</li>
          <li><a href="https://itunes.apple.com/us/podcast/013-alex-carpenter/id738646287?i=1000264786894&amp;mt=2">How to Hold a Pencil</a> - An interview show with self-taught designers and developers.</li>
        </ul>
        <h2>Experience</h2>
        <ul>
          <li>
            <p>Front-end Developer <span class="u-gray">@</span> NationBuilder</p>
            <p class="u-gray u-text-small">Nov 2018 - Current</p>
          </li>
          <li>
            <p>Senior Developer <span class="u-gray">@</span> Mighty in the Midwest</p>
            <p class="u-gray u-text-small">Oct 2015 - Jun 2018</p>
          </li>
          <li>
            <p>Front-end Developer &amp; Designer <span class="u-gray">@</span> Masuga Design</p>
            <p class="u-gray u-text-small">Feb 2012 - Oct 2015</p>
          </li>
          <li>
            <p>Co-founder &amp; Creative Director <span class="u-gray">@</span> Hybrid Media Co.</p>
            <p class="u-gray u-text-small">Dec 2010 - Feb 2012</p>
          </li>
        </ul>
        <h2>Colophon</h2>
        <ul>
          <li>Site is built using the static site generator <a href="https://www.11ty.io/">11ty</a>.</li>
          <li>Template code makes use of <a href="https://mozilla.github.io/nunjucks/">Nunjucks</a>.</li>
          <li>Styles are written in vanilla CSS.</li><li>Site is hosted and built using <a href="https://www.netlify.com/">Netlify</a>.</li>
          <li>View the source code on <a href="https://github.com/alexcarpenter/alexcarpenter.me">Github</a>.</li>
        </ul>
      </div>
    </div>

    <div class="o-grid-col u-width-one-third">
      <div class="c-prose">
        <h2>Sidenotes</h2>
        <hr class="u-hr">
        <p><strong class="u-block">Pronouns</strong>He/him</p>
        <p><strong class="u-block">Current location</strong> Grand Rapids, MI.</p>
        <p><strong class="u-block">Top bookmarks</strong> <a href="https://github.com/">github.com</a>, <a href="https://www.youtube.com/">youtube.com</a>, <a href="https://dribbble.com/">dribbble.com</a>, <a href="https://www.siteinspire.com/">siteInspire</a>, <a href="https://www.dwell.com/">dwell.com</a></p>
        <p><strong class="u-block">Top apps</strong> VSCode, Todoist, iTerm2, Bear, 1Password, Spectacle</p>
        <p><strong class="u-block">Audio</strong> Bear's Den, Damien Jurado, Chris Stapleton, Tycho</p>
        <p><strong class="u-block">Inspiration</strong> I am inspired by passionate people. People who share what they love with everyone else.</p>
      </div>
    </div>
  </div>
{% endblock %}
