---
layout: layouts/listing
title: Bookmarks
summary: Subscribe via [RSS](/bookmarks/feed.xml).
pagination:
  data: collections.bookmarks
  size: 10
permalink: /bookmarks/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber }}/{% endif %}index.html
---