---
title: "UI Engineer"
summary: "Currently interested in CSS architecture, React, design systems, state machines, and JavaScript testing."
permalink: /index.html
---
{% extends "layouts/page.njk" %}
