---
title: "UI Engineer"
description: "Currently interested in CSS architecture, functional programming, React, design systems, and state machines."
permalink: /index.html
---
{% extends "layouts/default.njk" %}
{% from "components/header.njk" import header %}

{% block header %}
  <header class="u-stack u-margin-bottom-3">
    <h1 class="u-font-size-xxl u-heading-decorate">UI Engineer</h1>
    <div class="c-avatar" style="--aspect-ratio: 1/1;">
      <picture>
        <source srcset="/assets/images/alexcarpenter-avatar-250.webp" type="image/webp">
        <source srcset="/assets/images/alexcarpenter-avatar-250.jpg" type="image/jpeg">
        <img src="/assets/images/alexcarpenter-avatar-250.jpg" alt="Photo of Alex Carpenter">
      </picture>
    </div>
    <p class="u-font-size-md u-line-height-tighten u-margin-top-05">Currently interested in CSS architecture, functional programming, React, design systems, and state machines.</p>
    <p>I am a self taught developer that works best when floating in between <a href="/work">design and engineering teams</a>. I enjoy sharing what I know via short <a href="/screencasts">instructional screencasts</a> and the occasional <a href="/posts">written post</a>.</p>
    <div>
      <a href="/screencasts" class="c-button c-button--secondary">
        View screencasts
        <svg class="u-margin-left-05" xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="1em" height="1em" aria-hidden="true" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"></path><path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"></path></svg>
      </a>
    </div>
  </header>
{% endblock %}

{% block content %}
  <section class="u-stack">
    <h2>Popular screencasts</h2>
    <ul class="c-listing">
      {% for post in collections.screencasts | favorites(4) %}
      <li class="c-listing__item">
        <a href="{{ post.url }}">{{ post.data.title }}</a>
      </li>
      {% endfor %}
    </ul>
    <div>
      {% Link '/screencasts', 'View more <span class="u-hidden-visually">screencasts</span>' %}
    </div>
  </section>

  <section class="u-stack">
    <h2>Recent bookmarks</h2>
    <ul class="c-listing">
      {% for post in collections.bookmarks | take(4) %}
      <li class="c-listing__item">
        <a href="{{ post.url }}">{{ post.data.title }}</a>
      </li>
      {% endfor %}
    </ul>
    <div>{% Link '/bookmarks', 'View more <span class="u-hidden-visually">bookmarks</span>' %}</div>
  </section>

  <section class="u-stack">
    <h2>Projects</h2>
    <ul class="c-listing">
      {% for project in site.projects | shuffle | take(4) %}
      <li class="c-listing__item">
        {% Link project.url, project.title, true %}
        <br>
        <span class="u-color-gray">{{ project.description }}</span>
      </li>
      {% endfor %}
    </ul>
    <div>{% Link 'https://github.com/alexcarpenter', 'View more <span class="u-hidden-visually">on Github</span>', true %}</div>
  </section>
{% endblock %}
