---
title: Newsletter
summary: ""
permalink: /newsletter/index.html
---
{% extends 'layouts/page.njk' %}

{% block content %}
  <section class="u-stack">
    <h2 class="u-hidden-visually">Subscribe</h2>
    <div class="c-box">
      {% include "components/newsletter-form.njk" %}
    </div>
  </section>
{% endblock %}
