---
title: Newsletter
description:
permalink: /newsletter/index.html
---
{% extends 'layouts/page.njk' %}
{% import "components/macros.njk" as components %}

{% block content %}
  <div class="o-grid o-grid--justify-end">
    {# <div class="o-grid__col u-width-4of12@md"></div> #}
    <div class="o-grid__col u-width-8of12@md">
      {% include "components/newsletter-form.njk" %}
    </div>
  </div>
{% endblock %}
