---
title: Notes
summary: "Byte-sized thoughts, links, and quotes. Subscribe via [RSS](/notes/feed.xml)."
pagination:
  data: collections.notes
  size: 10
permalink: /notes/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber }}/{% endif %}index.html
---
{% extends 'layouts/page.njk' %}

{% block content %}
  <div class="o-layout">
    <div class="o-layout__item u-width-two-thirds">
      <ul class="c-listing">
        {% for entry in pagination.items %}
        <li class="c-listing__item">
          <article class="c-prose">
            {{ entry.templateContent | safe }}
           <p><a class="c-prose__date" href="{{ entry.url | permalink }}">{{ entry.date | date_time }}</a></p>
          </article>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="o-grid-row">
    <div class="o-layout__item u-width-two-thirds">
      {% include "components/pagination.njk" %}
    </div>
  </div>
{% endblock %}
