---
title: Now
summary: "This is my [now page](https://nownownow.com/about), inspired by Derek Sivers."
permalink: /now/index.html
updated: 2019-03-11
---
{% extends 'layouts/page.njk' %}

{% set content %}
## Professional
* Helping grow the universe of developers who use and love [NationBuilder](https://nationbuilder.com/)
* Producing screencasts on HTML, CSS, and JavaScript on [YouTube](https://www.youtube.com/channel/UC2jJoQlzvLPvnYfowAEVaOg)
* Writing technical blog <a href="/posts/">posts</a> about what I am learning
* Learning React and TypeScript via [egghead.io](https://egghead.io/)

## Personal
* Reading [Essentialism: The Disciplined Pursuit of Less](https://gregmckeown.com/book/)
* Dreaming of warmer weather
* Taking a small step back from social media
{% endset %}

{% block content %}
  <div class="o-layout">
    <div class="o-layout__item u-width-two-thirds">
      <div class="c-prose">
        {{ content | markdownify | safe }}
        <hr>
        {% Note {
          text: updated | date_formatted,
          label: 'Last updated'
        } %}
      </div>
    </div>
  </div>
{% endblock %}
