---
title: Now
permalink: /now/index.html
description: This is my [now page](https://nownownow.com/about), inspired by Derek Sivers.
updated: 2019-02-26
---
{% extends 'layouts/default.njk' %}
{% from "components/masthead.njk" import masthead %}

{% set content %}
## Professional
* Helping grow the universe of developers who use and love [NationBuilder](https://nationbuilder.com/)
* Producing screencasts on HTML, CSS, and JavaScript on [YouTube](https://www.youtube.com/channel/UC2jJoQlzvLPvnYfowAEVaOg)
* Writing technical blog <a href="/posts/">posts</a> about what I am learning
* Learning React via [egghead.io](https://egghead.io/)

## Personal
* Reading [Essentialism: The Disciplined Pursuit of Less](https://gregmckeown.com/book/)
* Dreaming of warmer weather
* Taking a small step back from social media
{% endset %}

{% block main %}
  {{ masthead({
    title: "Now",
    summary: "This is my [now page](https://nownownow.com/about), inspired by Derek Sivers."
  }) }}
  <div class="o-layout">
    <div class="o-layout__item u-width-two-thirds">
      <div class="c-prose">
        {{ content | markdownify | safe }}
      </div>
    </div>
  </div>
{% endblock %}
