---
title: Posts
summary: 'Subscribe via [RSS](/feed.xml).'
pagination:
  data: collections.posts
  size: 10
permalink: /posts/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber }}/{% endif %}index.html
---
{% extends 'layouts/page.njk' %}

{% block content %}
  <div class="o-layout">
    <div class="o-layout__item u-width-two-thirds">
      <ul class="c-listing">
        {% for entry in pagination.items %}
        <li class="c-listing__item">
          {% include "components/entry.njk" %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="o-layout">
    <div class="o-layout__item u-width-two-thirds">
      {% include "components/pagination.njk" %}
    </div>
  </div>
{% endblock %}
