---
layout: layouts/listing
title: Posts
description: Subscribe via [RSS](/posts/feed.xml).
pagination:
  data: collections.posts
  size: 10
permalink: /posts/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber }}/{% endif %}index.html
---
