---
title: Projects
pagination:
  data: collections.projects
  size: 10
permalink: /projects/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber }}/{% endif %}index.html
---
{% extends 'layouts/default.njk' %}

{% block main %}
  <header class="c-content-header">
    <h1 class="c-content-header__title">Projects</h1>
    <p class="c-content-header__lead">Below are a few personal projects—much more can be found on <a href="https://github.com/alexcarpenter">my GitHub</a>.</p>
  </header>

  <ul class="o-grid-row">
    {% for entry in pagination.items %}
    <li class="o-grid-col u-width-one-third">
      <article>
        <header class="c-entry__header">
          <h2 class="c-entry__title"><a href="{{ entry.url | permalink }}">{{ entry.data.title }}</a></h2>
        </header>
        <div class="c-prose">
          <p>{{ entry.data.description | safe }}</p>
        </div>
      </article>
    </li>
    {% endfor %}
  </ul>
{% endblock %}
