---
title: "Resources"
description: "A running list of my favorite front-end development related articles, videos, podcasts, courses, and subscriptions."
permalink: /resources/index.html
---
{% extends "layouts/page.njk" %}
{% import "components/macros.njk" as components %}

{% block main %}
  <div class="u-margin-top-5">
    <div class="o-grid o-grid--justify-end">
      <div class="o-grid__col u-width-4of12@md">
        <div class="c-toc">
          <p class="u-color-gray">Table of contents</p>
          <div class="u-margin-top-3">
            <ul class="c-toc__list">
              {% for category, resources in resources | sort(false, true, "category") | groupby("category") %}
              <li class="c-toc__list-item"><a href="#section-{{ category | lower }}">{{ category }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="o-grid__col u-width-8of12@md u-margin-top-2 u-margin-top-0@md">
        <div class="o-stack o-stack--prose">
          {% for category, resources in resources | sort(false, true, "category") | groupby("category") %}
          <h2 id="section-{{ category | lower }}">{{ category }}</h2>
          <ul class="c-listing">
            {% for item in resources %}
              <li class="c-listing__item">
                <h3 class="u-font-size-base">{{ item.title }}</h3>
                {{ components.link({
                  url: item.url,
                  external: true
                }) }}
                <br>
                {% if item.blurb %}
                  <span class="u-color-gray">{{ item.blurb }}</span>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
