---
title: Resume
summary: ""
permalink: /resume/index.html
---
{% extends 'layouts/page.njk' %}

{% block content %}
  <section class="o-layout">
    <div class="o-layout__item u-width-two-thirds">
      <div class="c-prose">
        <h2>Experience</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit nemo, recusandae atque, dolores sit minima porro velit tenetur blanditiis quia nobis. Molestias illo voluptatibus sequi exercitationem animi vel laborum eveniet.</p>

        <h3>NationBuilder</h3>
        <p class="u-margin-top-025 u-font-size-xs u-color-gray">UI Engineer</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi magnam libero deleniti illum, reprehenderit labore amet officiis animi fugit necessitatibus vitae mollitia. Eligendi sapiente, totam labore porro mollitia enim earum.</p>
        <h4>Key contributions</h4>
        <ul>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, tempore.</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, tempore.</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, tempore.</li>
        </ul>
        {% Note {
          label: "NationBuilder.com",
          text: "Developed a new homepage to showcase the leaders who are using NationBuilder and highlight features from the new control panel.",
          link: {
            url: "/work/nationbuilder/",
            text: "Read case study"
          }
        } %}

        <hr>

        <h3>Mighty in the Midwest</h3>
        <p class="u-margin-top-025 u-font-size-xs u-color-gray">Senior Developer</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi magnam libero deleniti illum, reprehenderit labore amet officiis animi fugit necessitatibus vitae mollitia. Eligendi sapiente, totam labore porro mollitia enim earum.</p>
        <h4>Key contributions</h4>
        <ul>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, tempore.</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, tempore.</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, tempore.</li>
        </ul>
        {% Note {
          label: "Conservation Legacy",
          text: "Led the development of a platform of websites for Conservation Legacy, an organization that supports local conservation services across the US.",
          link: {
            url: "/work/conservation-legacy/",
            text: "Read case study"
          }
        } %}

        <hr>

        <h3>Masuga Design</h3>
        <p class="u-margin-top-025 u-font-size-xs u-color-gray">Front-end Developer and Designer</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi magnam libero deleniti illum, reprehenderit labore amet officiis animi fugit necessitatibus vitae mollitia. Eligendi sapiente, totam labore porro mollitia enim earum.</p>
        <h4>Key contributions</h4>
        <ul>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, tempore.</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, tempore.</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, tempore.</li>
        </ul>

        <hr>

        <h3>Hybrid Media Co.</h3>
        <p class="u-margin-top-025 u-font-size-xs u-color-gray">Co-founder and Creative Director</p>
      </div>
    </div>
  </section>

  <section class="o-layout">
    <div class="o-layout__item u-width-two-thirds">
      <div class="c-prose">
        <h2>Recommendations</h2>
        {% Quote {
          text: "I would recommend Alex to any forward-thinking web team. His passion for web standards along with his friendly attitude made him an invaluable part of our development team. I'm always especially impressed with his commitment to continuous learning and I hope to have the chance to work with him again!",
          cite: "Melissa Taylor (former co-worker)",
          size: "root"
        } %}

        <hr>

        {% Quote {
          text: "Alex and I have worked together on several projects over the course of the last few years and it's been great to have him on my project teams. He is incredibly thorough and thoughtful with his work and is always seeking out improving in his craft. He's conscious of meeting deadlines and communicates concerns early so that project teams can be proactive in problem solving. Alex's passion for learning is contagious. He seeks out and initiates collaboration and through this passion he's taught me a ton about web development, performance, and accessibility. Working with him has made me a better in my work.",
          cite: "Danielle Dunn (former co-worker)",
          size: "root"
        } %}

        <hr>

        {% Quote {
          text: "Alex is a true autodidact that is dedicated to keeping up with the latest development tools, methods and trends.",
          cite: "Benjamin Kohl (former co-worker)",
          size: "root"
        } %}
      </div>
    </div>
  </section>
{% endblock %}
