---
title: Speaking
summary: "Want me to speak at your event? [Get in touch](/contact/)."
permalink: /speaking/index.html
---
{% extends 'layouts/page.njk' %}

{% block content %}
  <div class="o-layout">
    <div class="o-layout__item u-width-two-thirds">
      <div class="c-prose">
        <h2>Upcoming events</h2>
        <ul>
          {% for entry in collections.speakingUpcoming %}
            <li>{{ entry.data.title }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
