---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nationbuilder
    - work
    - posts
    - screencasts
permalink: /tagged/{{ tag }}/index.html
---
{% extends "layouts/default.njk" %}
{% import "components/macros.njk" as components %}

{% block main %}
  <h1 class="u-font-size-2xl">Tagged “{{ tag }}”</h1>
  <div class="u-margin-top-5">
    {% set taglist = collections[tag] %}
    <ul class="c-listing c-listing--4">
    {% for entry in taglist | reverse %}
      <li class="c-listing__item">
        {{ components.entry({
          entry: entry,
          icons: true
        }) }}
      </li>
    {% endfor %}
    </ul>
  </div>
{% endblock %}