---
title: Uses
summary: "These are the tools I use to get things done."
permalink: /uses/index.html
updated: 2019-03-27
---
{% extends 'layouts/page.njk' %}

{% set content %}
## Software

* **Text editor: [VS Code](/vscode)**
* **Terminal: [iTerm 2](https://iterm2.com/)**
* **Browser: Chrome/Firefox**
* **Calendar: [Fantastical 2](https://flexibits.com/fantastical)**
* **Task manager: [Todoist](https://todoist.com/)**
* **App launcher: [Alfred](https://www.alfredapp.com/)**
* **Notes: [Drafts](https://getdrafts.com/mac/beta/), [Bear](https://bear.app/)**
* **Writing: [iA Writer](https://ia.net/writer)**
* **Password manager: [1Password](https://1password.com/)**
* **Window manager: [Spectacle](https://www.spectacleapp.com/)**
* **Messaging: [Signal](https://signal.org/)**

## Hardware

* **15-inch Apple MacBook Pro**
* **Apple Magic Keyboard**
* **Apple Magic Trackpad 2**
* **27-inch Dell UltraSharp Monitor**
* **[Roost Laptop Stand](https://www.therooststand.com/)**
* **[Audio-Technica AT-2020 USB Microphone](https://www.audio-technica.com/cms/wired_mics/c75c5918ed57a8d0/index.html)**
* **[Logitech C615 Portable HD Webcam](https://www.logitech.com/en-us/product/hd-webcam-c615)**
{% endset %}

{% block content %}
  <div class="o-layout">
    <div class="o-layout__item u-width-two-thirds">
      <div class="c-prose">
        {{ content | markdownify | safe }}
        <hr>
        {% Note {
          text: updated | date_formatted,
          label: 'Last updated'
        } %}
      </div>
    </div>
  </div>
{% endblock %}
