---
title: VSCode
permalink: /vscode/index.html
description: These are my VSCode settings and plugins I use.
updated: 2019-02-14
---
{% extends 'layouts/default.njk' %}

{% set content %}
{% Figure {
  src: "/assets/images/vscode-screenshot.png",
  ratio: "2000/1271",
  alt: "Screenshot of my VSCode editor setup"
} %}

## Plugins

- [aaron-bond.better-comments](https://marketplace.visualstudio.com/items?itemName=aaron-bond.better-comments)
- [alefragnani.project-manager](https://marketplace.visualstudio.com/items?itemName=alefragnani.project-manager)
- [CoenraadS.bracket-pair-colorizer](https://marketplace.visualstudio.com/items?itemName=CoenraadS.bracket-pair-colorizer)
- [CraigMaslowski.erb](https://marketplace.visualstudio.com/items?itemName=CraigMaslowski.erb)
- [dbaeumer.vscode-eslint](https://marketplace.visualstudio.com/items?itemName=dbaeumer.vscode-eslint)
- [eamodio.gitlens](https://marketplace.visualstudio.com/items?itemName=eamodio.gitlens)
- [HookyQR.beautify](https://marketplace.visualstudio.com/items?itemName=HookyQR.beautify)
- [luwenjiechn.nunjucks-vscode-snippets](https://marketplace.visualstudio.com/items?itemName=luwenjiechn.nunjucks-vscode-snippets)
- [mrmlnc.vscode-autoprefixer](https://marketplace.visualstudio.com/items?itemName=mrmlnc.vscode-autoprefixer)
- [mrmlnc.vscode-duplicate](https://marketplace.visualstudio.com/items?itemName=mrmlnc.vscode-duplicate)
- [ms-vsliveshare.vsliveshare](https://marketplace.visualstudio.com/items?itemName=ms-vsliveshare.vsliveshare)
- [neilding.language-liquid](https://marketplace.visualstudio.com/items?itemName=neilding.language-liquid)
- [ronnidc.nunjucks](https://marketplace.visualstudio.com/items?itemName=ronnidc.nunjucks)
- [sdras.night-owl](https://marketplace.visualstudio.com/items?itemName=sdras.night-owl)

## Settings

```json
{
    "workbench.colorTheme": "Night Owl No Italics",
    "editor.formatOnSave": true,
    "editor.detectIndentation": true,
    "editor.fontFamily": "Fira Mono, Menlo, Monaco, 'Courier New', monospace",
    "editor.fontSize": 20,
    "editor.tabSize": 2,
    "editor.renderWhitespace": "all",
    "editor.fontLigatures": true,
    "editor.minimap.enabled": false,
    "editor.lineHeight": 45,
    "editor.glyphMargin": false,
    "workbench.startupEditor": "none",
    "editor.cursorBlinking": "phase",
    "editor.parameterHints.enabled": false,
    "window.zoomLevel": 0,
    "workbench.activityBar.visible": true,
    "eslint.enable": false,
    "editor.occurrencesHighlight": false,
    "emmet.includeLanguages": {
        "nunjucks": "html",
        "erb": "html"
    },
    "editor.selectionHighlight": false,
    "editor.autoIndent": false,
    "editor.multiCursorModifier": "ctrlCmd",
    "breadcrumbs.enabled": true,
    "search.exclude": {
        "**/node_modules": true,
        "**/bower_components": true,
        "**/coverage": true,
        "**/dist": true,
        "**/build": true,
        "**/.build": true,
        "**/.gh-pages": true
    },
    "eslint.autoFixOnSave": false,
    "eslint.validate": [
        "javascript",
        "javascriptreact",
        "typescript",
        "typescriptreact"
    ],
    "eslint.options": {
        "env": {
            "browser": true,
            "jest/globals": true,
            "es6": true
        },
        "parserOptions": {
            "ecmaVersion": 2018,
            "sourceType": "module",
            "ecmaFeatures": {
                "jsx": true
            }
        },
        "rules": {
            "no-debugger": "off"
        }
    },
    "prettier.eslintIntegration": false,
    "prettier.bracketSpacing": false,
    "prettier.printWidth": 80,
    "prettier.tabWidth": 2,
    "prettier.singleQuote": true,
    "prettier.trailingComma": "all",
    "prettier.jsxBracketSameLine": false,
    "prettier.semi": false,
    "prettier.useTabs": false,
    "prettier.proseWrap": "always",
    /**/
    // Screencasting
    /*
    "workbench.colorTheme": "Visual Studio Light",
    "editor.fontSize": 22,
    "editor.lineHeight": 50,
    "terminal.integrated.fontSize": 16,
    "workbench.activityBar.visible": false,
    "editor.lineNumbers": "off",
    "workbench.statusBar.visible": false,
    "editor.cursorBlinking": "solid",
    "breadcrumbs.enabled": false
    /**/
}
```
{% endset %}

{% block main %}
  <header class="c-content-header">
    <h1 class="c-content-header__title">VSCode</h1>
    <p class="c-content-header__lead">These are my VSCode settings and plugins I use.</p>
  </header>
  <div class="o-grid-row">
    <div class="o-grid-col u-width-two-thirds">
      <div class="c-prose">
        {{ content | markdownify | safe }}
      </div>
    </div>
  </div>
{% endblock %}
