---
title: Welcome
summary: "Thanks for joining my newsletter. Below are some links to my most popular content and a few links to connect. Looking forward to hearing from you."
permalink: /newsletter/welcome/index.html
---
{% extends 'layouts/page.njk' %}

{% block content %}
  <section class="u-stack">
    <div class="o-grid" style="--grid-columns: 3;">
      <a href="{{ site.social[0].subscribe }}" class="c-button c-button--secondary">Subscribe to my YouTube channel</a>
      <a href="{{ site.social.twitter }}" class="c-button c-button--secondary">Follow me on Twitter</a>
      <a href="/contact" class="c-button c-button--secondary">Send me an email introducing yourself</a>
    </div>
  </section>
  <section class="u-stack">
    <h2>Popular screencasts</h2>
    <ul class="c-listing">
      {% for post in collections.screencasts | favorites(4) %}
      <li class="c-listing__item">
        <a href="{{ post.url }}">{{ post.data.title }}</a>
      </li>
      {% endfor %}
    </ul>
    <div>{% Link '/screencasts', 'View more' %}</div>
  </section>
{% endblock %}
