---
title: Work
description: "Helping teams build consistent, high-quality and inclusive user interfaces. Working remotely, floating between design and engineering teams."
permalink: /work/index.html
---
{% extends "layouts/page.njk" %}
{% import "components/macros.njk" as components %}

{% block content %}
  <section class="u-margin-top-5">
    <h2 class="u-text-uppercase">Case studies</h2>
    <ul class="c-listing c-listing--4 u-margin-top-4">
      {% for entry in collections.caseStudies | favorites | take(2) %}
      <li class="c-listing__item">
        {% Grid %}
          {% GridCol { span: { md: '6of12' } } %}
            {% if entry.data.thumbnail_sm %}
              {{ components.figure({
                src: '/assets/images/' + entry.data.thumbnail_sm,
                alt: entry.data.title,
                bordered: true
              }) }}
            {% endif %}
          {% endGridCol %}

          {% GridCol { span: { md: '6of12' } } %}
            <h3 class="u-font-size-lg u-font-weight-semi-bold"><a class="u-primary-anchor" href="{{ entry.url }}">{{ entry.data.title }}</a></h3>
            <p class="u-margin-top-2">{{ entry.data.description | markdownify_inline }}</p>
            <div class="u-margin-top-2">
              {{ components.link({ url: entry.data.link, external: true }) }}
            </div>
          {% endGridCol %}
        {% endGrid %}
      </li>
      {% endfor %}
    </ul>
    {# <div class="u-margin-top-4">
      {{ components.link({ url: "/case-studies/", text: "View more case studies" }) }}
    </div> #}
  </section>

  {# <section class="u-margin-top-5">
    <h2 class="u-text-uppercase">Interests</h2>
    <div class="u-margin-top-4">
      {% Grid { as: 'ul' } %}
        {% for interest in resume.interests %}
          {% GridCol { as: 'li', span: { md: '6of12' } } %}
            <div class="c-card">
              {{ interest.icon | safe }}
              <h3 class="u-margin-top-3 u-font-size-lg u-font-weight-semi-bold">{{ interest.name }}</h3>
              <p class="u-margin-top-5 u-color-gray">{{ interest.description | markdownify_inline }}</p>
            </div>
          {% endGridCol %}
        {% endfor %}
      {% endGrid %}
    </div>
  </section> #}

  <section class="u-margin-top-5">
    <h2 class="u-text-uppercase">Experience</h2>
    <ul class="c-listing c-listing--4 u-margin-top-4">
      {% for experience in resume.experience %}
      <li class="c-listing__item">
        <p class="u-color-gray u-text-uppercase">{{ experience.startDate }} – {% if experience.endDate %}{{ experience.endDate }}{% else %}Present{% endif %}</p>
        <h3 class="u-font-size-lg u-margin-top-1">{{ experience.company }} – {{ experience.title }}</h3>
        <div class="u-margin-top-2">
          <ul>
            {% for highlight in experience.highlights %}
              <li>{{ highlight }}</li>
            {% endfor %}
          </ul>
        </div>
      </li>
      {% endfor %}
    </ul>
  </section>

  <section class="u-margin-top-5">
    <h2 class="u-text-uppercase">Recommendations</h2>
    <div class="u-margin-top-4">
      {% Grid { as: 'ul' } %}
        {% for recommendation in resume.recommendations %}
          {% GridCol { as: 'li', span: { md: '6of12' } } %}
            {{ components.quote({
              text: recommendation.text,
              cite: {
                avatar: recommendation.avatar,
                name: recommendation.name,
                title: recommendation.title
              }
            }) }}
          {% endGridCol %}
        {% endfor %}
      {% endGrid %}
    </div>
  </section>
{% endblock %}
