---
title: Work
summary: "A sampling of work I've done."
permalink: /work/index.html
---
{% extends "layouts/page.njk" %}
{% from "components/definition-list.njk" import definitionList %}
{% from "components/offsite-link.njk" import offsiteLink %}

{% block content %}
  <div class="o-layout">
    <div class="o-layout__item u-width-two-thirds">
      <ul class="c-listing">
        {%- for entry in collections.work | sortByOrder -%}
        <li class="c-listing__item">
          <article class="c-entry">
            {{ definitionList({
              class: "u-margin-bottom-025",
              items: [{
                title: "Type",
                description: entry.data.description
              }]
            }) }}
            <h3 class="c-entry__title"><a href="{{ entry.url }}">{{ entry.data.title }}</a></h3>
            <p class="c-entry__summary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam assumenda earum optio error.</p>
          </article>
        </li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
{% endblock %}
