/* ==========================================================================
   GENERIC/HEADINGS
   ========================================================================== */


h1, h2, h3,
h4, h5, h6 {
  font-weight: 400;
  line-height: 1.4;
}
