/* ==========================================================================
   GENERIC/BASE
   ========================================================================== */


*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  line-height: 1.6;
  overflow-x: hidden;
  -ms-text-size-adjust: 100%; /* stylelint-disable-line */
  -webkit-text-size-adjust: 100%; /* stylelint-disable-line */
  -webkit-font-smoothing: antialiased; /* stylelint-disable-line */
}

body {
  margin: 0 auto;
  padding-right: var(--u-spacing-unit-2);
  padding-left: var(--u-spacing-unit-2);
  padding-bottom: var(--u-spacing-unit-4);
  background-color: var(--c-background);
  color: #fff;
  font-family: var(--ff-fallback);

  @media (--mq-small) {
    padding-bottom: var(--u-spacing-unit-8);
  }
}

.fonts-loaded body {
  font-family: var(--ff-primary);
}


/**
 * A very simple reset
 */

h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend {
  margin: 0;
  padding: 0;
}


/**
 * Remove trailing margins from nested lists.
 */

li > {

  ol,
  ul {
    margin-bottom: 0;
  }
}

main {
  outline: none;
}

a {
  color: currentcolor;
  text-decoration-skip: ink;
  text-decoration-color: var(--c-primary);

  &:hover,
  &:focus {
    text-decoration: none;
    outline: 1px solid var(--c-primary);
  }
}

img {
  max-width: 100%;
}

svg {
  vertical-align: middle;
  fill: currentColor;
}

/* blockquote {

  p {
    text-indent: -10px;

    &:before {
      content: '“';
    }

    &:after {
      content: '”';
    }
  }

  cite {
    display: block;
    padding-top: units(.5);
  }
} */

/* hr {
  border: none;
  width: 100%;
  height: 1px;
  background-color: var(--c-border-color);
} */
