/* ==========================================================================
   SETTINGS/CUSTOM-PROPERTIES
   ========================================================================== */


:root {
  --font-family-sans: 'Roboto', Helvetica, Arial, sans-serif;
  --font-family-system: system-ui, Helvetica, Arial, sans-serif;
  --font-family-monospace: Consolas, monaco, monospace;
  --body-background-color: #fff;
  --body-color: #000;
  --color-primary: #35bc60;
  --text-decoration-color: #aaa;
}
