/* ==========================================================================
   SETTINGS/CUSTOM-SELECTORS
   ========================================================================== */


@custom-selector :--heading h1, h2, h3, h4, h5, h6;
@custom-selector :--text h1, h2, h3, h4, h5, h6, p, blockquote;
@custom-selector :--enter :hover, :focus;
