{{ partial "header" . }}

<div class="o-wrapper">
  <div class="o-grid">
    <div class="o-grid__item u-width-6@md">
      <div class="c-prose">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus consequatur blanditiis atque exercitationem, praesentium quidem rerum, inventore, fugiat eos sequi aperiam accusantium pariatur doloremque, totam sint iusto aliquam nobis optio.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus consequatur blanditiis atque exercitationem, praesentium quidem rerum, inventore, fugiat eos sequi aperiam uatur blanditiis atque exercitationem, praesentium quidem rerum, inventore, fugiat eos sequi aperiam accusantium pariatur doloremque, totam sint iusto aliquam nobis optio.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus consequatur blanditiis atque exercitationem, praesentium quidem rerum, inventore, fugiat eos sequi aperiam accusantium pariatur doloremque, totam sint iusto aliquam nobis optio.</p>
      </div>
    </div>

    <div class="o-grid__item u-width-6@md">
      <ul class="c-bordered-list">
        <li class="c-bordered-list__item">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, eveniet reiciendis laboriosam.</p>
        </li>

        <li class="c-bordered-list__item">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, eveniet reiciendis laboriosam.</p>
        </li>

        <li class="c-bordered-list__item">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, eveniet reiciendis laboriosam.</p>
        </li>
      </ul>
    </div>

    <!-- <div class="o-grid__item u-width-12">
      <div class="o-mosaic">
        <div class="o-mosaic__row">
          <div class="o-mosaic__column o-mosaic__flex-grow-e95f50">
            <img class="o-mosaic__image o-mosaic__image--first o-mosaic__flex-grow-e95f50 lazyload" src="http://unsplash.it/1600x900">
            <img class="o-mosaic__image o-mosaic__image--second o-mosaic__flex-grow-c37c5b lazyload" src="http://unsplash.it/1600x1600">
          </div>

          <div class="o-mosaic__column o-mosaic__flex-grow-e3b447">
            <img class="o-mosaic__image o-mosaic__image--third o-mosaic__flex-grow-e95f50 lazyload" src="http://unsplash.it/900x1600">
          </div>
        </div>
      </div>
    </div>

    <div class="o-grid__item u-width-6@md">
      <div class="c-prose">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus consequatur blanditiis atque exercitationem, praesentium quidem rerum, inventore, fugiat eos sequi aperiam accusantium pariatur doloremque, totam sint iusto aliquam nobis optio.</p>
      </div>
    </div>

    <div class="o-grid__item u-width-6@md">
      <div class="c-prose">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus consequatur blanditiis atque exercitationem, praesentium quidem rerum, inventore, fugiat eos sequi aperiam accusantium pariatur doloremque, totam sint iusto aliquam nobis optio.</p>
      </div>
    </div> -->
  </div>
</div>

{{ partial "footer" . }}
