/* ==========================================================================
   SETTINGS
   ========================================================================== */

:root {
  --font-family-system: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  --font-family-code: Menlo, Monaco, 'Courier New', monospace;
  --color-blue: #306cfb;
  --color-highlight: #fffeca;
  --color-primary: var(--color-blue);
  --color-gray-0: #111;
  --color-gray-70: #767676;
  --color-gray-30: #eee;
  --border-radius-default: 4px;
}

/* ==========================================================================
   GENERIC
   ========================================================================== */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  max-width: 43.75rem;
  padding: 2rem 1rem;
  font-family: var(--font-family-system);
  font-size: 1.125rem;
  line-height: 1.5;
  color: var(--color-gray-0);
}

@media screen and (min-width: 720px) {
  body {
    padding: 4rem;
  }
}

section + section {
  padding-top: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-weight: 700;
}

a {
  color: inherit;
  -webkit-text-decoration-color: var(--color-primary);
  text-decoration-color: var(--color-primary);
}

a:hover:not(.c-skip-link),
a:focus:not(.c-skip-link) {
  color: var(--color-primary);
}

a[rel~='external']::after {
  display: inline-block;
  font-weight: normal;
  color: var(--color-gray-70);
  content: '\2009\2192';
}

ul {
  list-style-type: square;
}

strong,
b {
  font-weight: 700;
}

time {
  display: inline-block;
  color: var(--color-gray-70);
}

[tabindex='-1'] {
  outline: 0;
}

code:not([class]) {
  font-family: var(--font-family-code);
  color: #ef3b7d;
}

blockquote:not([class]) {
  padding-left: 1rem;
  border-left: 2px solid var(--color-gray-30);
  font-style: italic;
}

mark {
  /* background-color: var(--color-highlight); */
  background-color: transparent;
  background-image: linear-gradient(
    -100deg,
    rgba(250, 247, 133, 0.3),
    rgba(250, 247, 133, 0.7) 95%,
    rgba(250, 247, 133, 0.1)
  );
  padding: 0.05em 0.1em;
  -webkit-box-shadow: var(--color-highlight) 0 0 5px;
  box-shadow: var(--color-highlight) 0 0 5px;
}

/* blockquote {
  padding-left: 1rem;
  border-left: 2px solid var(--color-gray-30);
} */

hr {
  margin: 2rem 0 !important;
  border: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-gray-30);
}

figcaption {
  text-align: center;
  font-style: italic;
}

/* ==========================================================================
   OBJECTS
   ========================================================================== */

/**
 * Aspect Ratio
 */

[style*='--aspect-ratio'] > :first-child {
  height: auto;
  width: 100%;
}

@supports (--custom: property) {
  [style*='--aspect-ratio'] {
    position: relative;
    background-color: var(--color-gray-30);
  }

  [style*='--aspect-ratio']::before {
    content: '';
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }

  [style*='--aspect-ratio'] > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}

/* ==========================================================================
   COMPONENTS
   ========================================================================== */

/**
 * Skip link
 */

.c-skip-link {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem 1rem;
  background-color: var(--color-blue);
  color: #fff;
  text-decoration: none;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.c-skip-link:focus {
  -webkit-transform: none;
  transform: none;
}

/**
 * Navigation
 */

.c-nav {
  margin-bottom: 2rem;
}

.c-nav__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-nav__list-item:not(:last-of-type) {
  margin-right: 1rem;
}

/**
 * Page header
 */

.c-page-header {
  margin-bottom: 2rem;
}

@media screen and (min-width: 500px) {
  .c-page-header__title {
    font-size: 3rem;
  }
}

.c-page-header__title:after {
  content: '\2009\00AC';
  display: inline-block;
  color: currentColor;
  opacity: 0.25;
}

.c-page-header__heading {
  font-size: 2.25rem;
}

.c-page-header__description {
  padding-top: 1rem;
}

/**
 * Listing
 */

.c-listing {
  padding-left: 0 !important;
  list-style: none;
}

.c-listing > *:not(:last-child) {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #eee;
}

/**
 * Prose
 */

.c-prose > *:not(:last-child) {
  margin-bottom: 1rem;
}

.c-prose *:not(hr) + h2,
.c-prose *:not(hr) + h3 {
  padding-top: 1rem;
}

.c-prose ul,
.c-prose ol {
  padding-left: 1.2rem;
}

.c-prose li:not(:last-of-type) {
  margin-bottom: 0.5rem;
}

.c-prose dl {
  display: grid;
  grid-template-columns: -webkit-min-content 1fr;
  grid-template-columns: min-content 1fr;
  -webkit-column-gap: 1rem;
  column-gap: 1rem;
  width: 100%;
}

.c-prose dt {
  grid-column: 1;
  font-weight: 700;
}

/**
 * Entry
 */

.c-entry__header {
  margin-bottom: 1rem;
}

.c-entry__date {
  margin-bottom: 0.25rem;
}

/**
 * Pagination
 */

.c-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 2rem;
}

.c-pagination__item[rel='prev']::before {
  display: inline-block;
  font-weight: normal;
  content: '\2190\2009';
}

.c-pagination__item[rel='next'] {
  margin-left: auto;
}

.c-pagination__item[rel='next']::after {
  display: inline-block;
  font-weight: normal;
  content: '\2009\2192';
}

/**
 * Notice
 */

.c-notice {
  padding: 1rem;
  border: 1px solid #ffeeba;
  background-color: #fff3cf;
}

/**
 * Form
 */

.c-form {
  display: block;
}

.c-form__field {
  margin-bottom: 1rem;
}

.c-form__label {
  display: block;
  margin-bottom: 0.25rem;
}

.c-form__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: var(--border-radius-default);
  background-color: #fafafa;
  font: inherit;
  resize: none;
}

.c-form__button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 1rem;
  font: inherit;
  color: #fff;
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: var(--border-radius-default);
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

.c-form__button:hover,
.c-form__button:focus {
  background-color: var(--color-gray-0);
  border-color: var(--color-gray-0);
}

.c-form__input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-form__input-group .c-form__input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: var(--border-radius-default);
  border-bottom-left-radius: var(--border-radius-default);
}

.c-form__input-group .c-form__button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: var(--border-radius-default);
  border-bottom-right-radius: var(--border-radius-default);
}

.c-form__help {
  padding-top: 0.25rem;
  display: block;
}

/**
 * Section heading
 */

.c-section-heading {
  margin-bottom: 1rem;
}

/**
 * Footer
 */

.c-footer {
  padding-top: 4rem;
}

.c-footer__social a {
  text-decoration: none;
}

.c-footer__social a:not(:last-of-type) {
  margin-right: 1rem;
}

/**
 * Reference
 */

.c-reference {
  position: relative;
  display: block;
}

.c-reference__avatar {
  margin-bottom: 1rem;
  margin-left: 1rem;
  float: right;
  border-radius: 50%;
}

.c-reference__body {
  margin-bottom: 1rem;
}

.c-reference__cite {
  display: block;
}
