/* ==========================================================================
   VARIABLES
   ========================================================================== */


:root {
  --font-family-system: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-family-code: Menlo, Monaco, monospace;
  --color-blue: #0055FF;
  --color-blue-light: #E6EEFF;
  --color-red: #FF3300;
  --color-yellow: #FFCC00;
  --color-yellow-light: #FFFECA;
  --color-green: #4CA55E;
  --color-primary: var(--color-blue);
  --color-gray-900: #111111;
  --color-gray-500: #767676;
  --color-gray-400: #DDDDDD;
  --color-gray-300: #EFEFEF;
  --color-gray-100: #FAFAFA;
  --border-radius: 4px;
  --line-height-loose: 1.5;
  --line-height-tighten: 1.4;
  --line-height-strict: 1.3;
  --outline: 0 0 0 3px var(--color-yellow);
  --transition: all ease-in-out 0.2s;
  --shadow: 0 1px 2px rgba(0,0,0,0.07),
            0 2px 4px rgba(0,0,0,0.07),
            0 4px 8px rgba(0,0,0,0.07),
            0 8px 16px rgba(0,0,0,0.07),
            0 16px 32px rgba(0,0,0,0.07),
            0 32px 64px rgba(0,0,0,0.07);
  --shadow-lg: 0 2px 1px rgba(0,0,0,0.09),
               0 4px 2px rgba(0,0,0,0.09),
               0 8px 4px rgba(0,0,0,0.09),
               0 16px 8px rgba(0,0,0,0.09),
               0 32px 16px rgba(0,0,0,0.09);
}


/* ==========================================================================
   BASE
   ========================================================================== */


* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 1.125rem;
  }
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  padding-top: 4rem;
  font-family: var(--font-family-system);
  line-height: var(--line-height-loose);
  text-rendering: optimizeLegibility;
  color: var(--color-gray-900);
  border-top: 10px solid var(--color-gray-100);
  overflow-x: hidden;
}

main {
  margin-bottom: 4rem;
}

h1,
h2,
h3 {
  line-height: var(--line-height-strict);
}

img,
svg {
  max-width: 100%;
  vertical-align: middle;
}

ul:not([class]) {
  padding-left: 1.2rem;
}

a:not([class]) {
  color: var(--color-primary);
  text-decoration: none;
}

a:not([class]):hover,
a:not([class]):focus {
  text-decoration: underline;
}

a:focus {
  outline: 0;
  box-shadow: var(--outline) !important;
}

blockquote {
  padding-left: 1rem;
  border-left: .5rem solid var(--color-gray-300);
  font-style: italic;
}

figcaption {
  margin-top: 1rem;
  color: var(--color-gray-500);
  font-size: smaller;
}

dt {
  font-weight: 700;
}

mark {
  background-color: var(--color-yellow-light);
}

ul ul {
  list-style-type: disc;
}

hr {
  margin-top: 2rem !important;
  margin-bottom: 2rem;
  border: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-gray-300);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
  border-bottom: 1px solid var(--color-gray-300);
}

th, td {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

tr:not(:last-of-type) td {
  border-bottom: 1px solid var(--color-gray-300);
}


/* ==========================================================================
   OBJECTS
   ========================================================================== */


/**
 * ASPECT-RATIO
 */

[style*='--aspect-ratio']> :first-child {
  height: auto;
  width: 100%;
}

@supports (--custom: property) {
  [style*='--aspect-ratio'] {
    position: relative;
    width: 100%;
    background-color: var(--color-gray-100);
  }

  [style*='--aspect-ratio']::before {
    content: '';
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }

  [style*='--aspect-ratio']> :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}


/**
 * CONTAINER
 */

.o-container {
  width: 100%;
  max-width: 45.75rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.o-container--lg {
  max-width: 62.5rem;
}


/**
 * COLUMNS
 */

.o-columns {
  list-style: none;
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}


/**
 * GRID
 */

.o-grid {
  display: grid;
  grid-gap: 1rem;
}

@media (min-width: 600px) {
  .o-grid {
    --grid-columns: 2;
    grid-gap: 2rem;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
  }
}

.o-layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 2rem;
}


/* ==========================================================================
   COMPONENTS
   ========================================================================== */


/**
 * SKIP
 */

.c-skip {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.25rem;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  background-color: var(--color-primary);
  color: #fff;
  text-decoration: none;
}

.c-skip:focus {
  -webkit-transform: none;
          transform: none;
}


/**
 * AVATAR
 */

.c-avatar {
  display: none;
}

@media (min-width: 768px) {
  .c-avatar {
    display: block;
    float: right;
    max-width: 30%;
    margin-bottom: 1rem;
    margin-left: 1rem;
  }
}


/**
 * PILL
 */

 .c-pill {
  position: relative;
  padding: .25rem .75rem;
  border-radius: 1rem;
  color: var(--color-primary);
  text-decoration: none;
  font-size: smaller;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.c-pill:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary);
  border-radius: 1rem;
  opacity: .15;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  z-index: -1;
}

a.c-pill:hover {
  color: #fff;
}

a.c-pill:hover:after {
  opacity: 1;
}


/**
 * BUTTON
 */

.c-button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .75rem 1rem;
  font: inherit;
  color: #fff;
  background-color: var(--color-gray-900);
  border: 1px solid var(--color-gray-900);
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  border-radius: var(--border-radius);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.c-button:hover {
  background-color: #fff;
  color: var(--color-gray-900);
}

.c-button:focus {
  outline: 0;
  box-shadow: 0 0 0 3px var(--color-yellow) !important;
}

.c-button--primary {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.c-button--primary:hover {
  color: var(--color-primary);
}

.c-button--secondary {
  background-color: var(--color-gray-100);
  border-color: var(--color-gray-400);
  color: var(--color-gray-500);
}

.c-button--secondary:hover {
  border-color: var(--color-primary);
  color: var(--color-primary);
}

.c-button--inverted {
  background-color: #fff;
  border-color: var(--color-primary);
  color: var(--color-primary);
}

.c-button--inverted:hover {
  background-color: var(--color-gray-900);
  border-color: var(--color-gray-900);
  color: #fff;
}

.c-button--shadow {
  box-shadow: var(--shadow);
}

.c-button--shadow:focus {
  box-shadow: var(--outline), var(--shadow) !important;
}

.c-button svg {
  margin-right: .5rem;
}


/**
 * CONTROL
 */

.c-control {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-control--readonly {
  pointer-events: none;
}

.c-control__indicator {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: block;
  margin-right: .5rem;
  width: 1em;
  height: 1em;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-gray-400);
  background-color: var(--color-gray-100);
}

.c-control input:checked~.c-control__indicator,
.c-control__indicator--checked {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4gIDxwYXRoIGZpbGw9Im5vbmUiIGQ9Ik0wIDBoMjR2MjRIMHoiLz4gIDxwYXRoIGZpbGw9IiNGRkYiIGQ9Ik05IDE2LjJMNC44IDEybC0xLjQgMS40TDkgMTkgMjEgN2wtMS40LTEuNEw5IDE2LjJ6Ii8+PC9zdmc+');
  background-size: .8em;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}


/**
 * ENTRY
 */

/* .c-entry {} */

.c-entry__heading {
  font-weight: 400;
}


/**
 * HEADER
 */

.c-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 4rem;
}

a[href="#footer-menu"] {
  display: block;
}

.c-header__nav {
  display: none;
}

.c-header__nav-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.c-header__nav-anchor {
  display: block;
  color: currentColor;
  text-decoration: none;
  padding: .5rem 0;
}

.c-header__nav-anchor:hover {
  color: var(--color-primary);
}

@media (min-width: 768px) {
  a[href="#footer-menu"] {
    display: none;
  }

  .c-header__nav {
    display: block;
  }

  .c-header__nav-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .c-header__nav-anchor {
    padding: 1rem;
  }
}


.c-share {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-share::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-gray-300);
}

.c-share span {
  position: relative;
  padding-right: 1rem;
  background-color: #fff;
  color: var(--color-gray-500);
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 10;
}

.c-share__list {
  position: relative;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1rem;
  background-color: #fff;
  z-index: 10;
}

.c-share__list-item:not(:last-of-type) {
  margin-right: 1rem;
}

.c-share__list-anchor {
  color: currentColor;
}

.c-share__list-anchor:hover {
  color: var(--color-primary);
}


.c-callout {
  margin-bottom: 3rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: var(--color-primary);
  color: #fff;
  clip-path: polygon(
    0 0, /* left top */
    100% 2rem, /* right top */
    100% 100%, /* right bottom */
    0 calc(100% - 2rem) /* left bottom */
  );
}


.c-testimonial {
  text-align: center;
}

.c-testimonial__media {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  box-shadow: var(--shadow);
}

.c-testimonial__media img {
  display: block;
  border-radius: 50%;
  width: 100%;
}

.c-testimonial__quote {
  border: 0;
  margin-top: 1rem;
  font-size: 1.25rem;
}

.c-testimonial__quote p::before { content: '“'; }
.c-testimonial__quote p::after { content: '”'; }

.c-testimonial__cite {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: .75;
}


/**
 * FOOTER
 */

.c-footer {
  margin-top: auto;
  padding: 4rem 1rem;
  text-align: center;
  background-color: var(--color-gray-100);
  border-top: 1px solid var(--color-gray-300);
}

.c-footer__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.c-footer__list+.c-footer__list {
  margin-top: 1rem;
}

.c-footer__list-item {
  margin-right: .5rem;
  margin-left: .5rem;
}

.c-footer__list-anchor {
  text-decoration: none;
  color: currentColor;
}

.c-footer__list-anchor:hover {
  color: var(--color-primary);
}


/**
 * FORM
 */

/* .c-form {} */

.c-form--boxed {
  padding: 1rem;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-gray-300);
  background-color: var(--color-gray-100);
}

.c-form__row+.c-form__row {
  margin-top: 1rem;
}

.c-form__row--inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.c-form__row-item:first-of-type {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1rem;
}

.c-form__label {
  display: block;
  margin-bottom: .25rem;
}

.c-form__input {
  display: block;
  width: 100%;
  padding: .75rem;
  border: 1px solid var(--color-gray-300);
  border-radius: var(--border-radius);
  background-color: var(--color-gray-100);
  font: inherit;
}

.c-form__input:focus {
  outline: 0;
  box-shadow: var(--outline) !important;
}

.c-form--boxed .c-form__input {
  background-color: #fff;
}


/**
 * LISTING
 */

.c-listing {
  list-style: none;
}

.c-listing__item:not(:last-of-type) {
  margin-bottom: .5rem;
  padding-bottom: .5rem;
  border-bottom: 1px solid var(--color-gray-300);
}

.c-listing--lg .c-listing__item:not(:last-of-type) {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}

.c-listing--ordered {
  counter-reset: li;
}

.c-listing--ordered .c-listing__item::before {
  counter-increment: li;
  content: counter(li, decimal-leading-zero)'. ';
}


/**
 * META
 */

@media (min-width: 600px) {
  .c-meta {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 2rem;
    grid-auto-columns: 1fr;
    grid-template-rows: repeat(50, -webkit-min-content);
    grid-template-rows: repeat(50, min-content);
  }

  .c-meta__title {
    margin-top: 0;
    grid-row-start: 1;
  }

  .c-meta__title,
  .c-meta__description {
    padding-left: 1rem;
    border-left: 1px solid var(--color-gray-400);
  }
}



/**
 * NOTE
 */

.c-note {
  padding: 1rem;
  border: 1px solid var(--color-gray-400);
  border-radius: var(--border-radius);
}

.c-note--warning {
  border-color: var(--color-yellow);
  background-color: #fff8e4;
}

.c-note__label {
  font-weight: 700;
}

.c-note__anchor {
  text-decoration: none;
  color: var(--color-primary);
}

.c-note__anchor svg {
  margin-left: .25rem;
  font-size: .9em;
}


/**
 * PAGINATION
 */

.c-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4rem;
}

.c-pagination__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .75rem 1rem;
  color: var(--color-gray-900);
  text-decoration: none;
  background-color: var(--color-gray-100);
  border-radius: var(--border-radius);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.c-pagination__item:hover {
  color: var(--color-primary);
}

.c-pagination__item[rel="next"] {
  margin-left: auto;
}

.c-pagination__item svg {
  font-size: .9em;
}

.c-pagination__item[rel="prev"] svg {
  margin-right: .25rem;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.c-pagination__item[rel="next"] svg {
  margin-left: .25rem;
}


/**
 * VIDEO
 */

.c-video__backdrop[style] {
  padding: 2rem;
  background-color: var(--backdrop);
}


.c-tags {
  margin-top: 1rem;
  margin-bottom: -.5rem;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.c-tags__item {
  margin-right: .5rem;
  margin-bottom: .5rem;
}


/* ==========================================================================
   UTILITIES
   ========================================================================== */


/**
 * LINEAR - create vertical rythmn throughout page content
 */

.u-linear+.u-linear {
  margin-top: 2rem;
}

.u-linear>*+* {
  margin-top: 1.125rem;
}

.u-linear>*+h2,
.u-linear>*+h3 {
  margin-top: 2rem;
}


/**
 * FLEXBOX
 */

.u-display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.u-align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.u-justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}


/**
 * TEXT-ALIGNMENT
 */

.u-text-center {
  text-align: center;
}


/**
 * FONT-SIZING
 */

.u-font-size-xxl {
  font-size: 3rem;
  line-height: var(--line-height-strict);
}

.u-font-size-xl {
  font-size: 2.5rem;
  line-height: var(--line-height-strict);
}

.u-font-size-lg {
  font-size: 2rem;
  line-height: var(--line-height-strict);
}

.u-font-size-md {
  font-size: 1.5rem;
  line-height: var(--line-height-tighten);
}

.u-font-size-sm {
  font-size: smaller;
}


/**
 * SPACING
 */

.u-margin-top-0 {
  margin-top: 0;
}

.u-margin-top-025 {
  margin-top: 0.25rem;
}

.u-margin-top-05 {
  margin-top: 0.5rem;
}

.u-margin-top-1 {
  margin-top: 1rem;
}

.u-margin-top-2 {
  margin-top: 2rem;
}

.u-margin-top-3 {
  margin-top: 3rem;
}

.u-margin-bottom-2 {
  margin-bottom: 2rem;
}

.u-margin-bottom-3 {
  margin-bottom: 3rem;
}

.u-margin-right-1 {
  margin-right: 1rem;
}


/**
 * HEADING-DECORATE
 */

.u-heading-decorate::after {
  content: '\2009\00AC';
  display: inline-block;
  color: var(--color-gray-400);
}


/**
 * EYEBROW
 */

.u-eyebrow {
  font-size: 1rem;
  color: var(--color-gray-500);
  text-transform: uppercase;
  letter-spacing: 1px;
}


/**
 * LINK
 */

.u-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color-primary);
  text-decoration: none;
}

.u-link svg {
  margin-left: 0.25rem;
  font-size: 0.9em;
}

.u-link[rel="external"] svg {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.u-link:hover {
  text-decoration: underline;
}


/**
 * COLORS
 */

.u-color-gray {
  color: var(--color-gray-500);
}

.u-color-primary {
  color: var(--color-primary);
}


/**
 * HIDDEN-VISUALLY
 */

.u-hidden-visually {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}


/**
 * BREAK-OUT
 */

.u-breakout {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
