/* ==========================================================================
   VARIABLES
   ========================================================================== */


:root {
  --font-family-system: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-family-code: Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace;
  --font-size-root: 1rem;
  --font-size-xl: 2.25rem;
  --font-size-lg: 1.75rem;
  --font-size-md: 1.25rem;
  --font-size-sm: 1rem;
  --font-size-xs: 0.875rem;
  --color-blue: #05F;
  --color-blue-light: #E6EEFF;
  --color-red: #F30;
  --color-red-light: #FFEBE6;
  --color-yellow: #FC0;
  --color-yellow-light: #FFFAE6;
  --color-primary: var(--color-blue);
  --color-gray-900: #111;
  --color-gray-500: #767676;
  --color-gray-300: #EFEFEF;
  --color-gray-100: #FAFAFA;
  --border-radius: 4px;
}

@media (min-width: 768px) {
  :root {
    --font-size-root: 1.125rem;
    --font-size-xl: 2.75rem;
    --font-size-lg: 2rem;
    --font-size-md: 1.5rem;
  }
}


/* ==========================================================================
   BASE
   ========================================================================== */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--font-size-root);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 4rem;
  font-family: var(--font-family-system);
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  color: var(--color-gray-900);
  border-top: 10px solid var(--color-gray-100);
  overflow-x: hidden;
}

main {
  margin-bottom: 4rem;
}

h1, h2, h3,
h4, h5, h6 {
  line-height: 1.2;
  font-weight: 700;
}

h1 {
  font-size: var(--font-size-xl);
}

h2 {
  font-size: var(--font-size-lg);
}

h3 {
  font-size: var(--font-size-md);
}

a:focus {
  outline: 3px solid var(--color-yellow);
  outline-offset: 0;
}

a:not([class]) {
  color: inherit;
  text-decoration-color: var(--color-primary);
  text-decoration-skip-ink: auto;
  transition: all 0.2s ease 0s;
}

a:not([class]):hover {
  color: var(--color-primary);
}

ul[class] {
  list-style: none;
}

ul:not([class]) {
  padding-left: 1.2rem;
}

ul:not([class]) li + li {
  margin-top: 0.25rem;
}


img,
svg,
video {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

figcaption {
  margin-top: .5rem;
  color: var(--color-gray-500);
}

blockquote:not([class]) {
  padding-left: 1rem;
  border-left: 10px solid var(--color-primary);
}

hr {
  border: none;
  width: 100%;
  height: 1px;
  background-color: var(--color-gray-300);
}

mark {
  background-color: var(--color-yellow-light);
}

[tabindex='-1'] {
  outline: 0;
}


/* ==========================================================================
   OBJECTS
   ========================================================================== */


/**
 * ASPECT-RATIO
 */

[style*='--aspect-ratio'] > :first-child {
  height: auto;
  width: 100%;
}

@supports (--custom: property) {
  [style*='--aspect-ratio'] {
    position: relative;
    width: 100%;
    background-color: var(--color-gray-100);
  }

  [style*='--aspect-ratio']::before {
    content: '';
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }

  [style*='--aspect-ratio'] > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}


/**
 * CONTAINER
 */

.o-container {
  width: 100%;
  max-width: 66.666666667em;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}


/**
 * GRID
 */

.o-grid {
  display: grid;
  grid-gap: 2rem;
}

.o-grid--duo {
  grid-template-columns: repeat(2, 1fr);
}

.o-grid--trio {
  grid-template-columns: repeat(3, 1fr);
}


/**
 * CONTENT
 */

@media (min-width: 768px) {
  .o-content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 2rem;
  }

  .o-content > * {
    grid-column: 3/11;
  }

  .o-content__fullWidth {
    grid-column: 1/13;
  }
}

.o-content + .o-content {
  margin-top: 3rem;
}

.o-content > * + * {
  margin-top: 1rem;
}

.o-content > * + h2,
.o-content > * + h3,
.o-content > * + .o-content__fullWidth,
.o-content > .o-content__fullWidth + *,
.o-content > * + pre[class*="language-"],
.o-content > pre[class*="language-"] + *,
.o-content > * + blockquote,
.o-content > blockquote + *,
.o-content > * + hr,
.o-content > hr + * {
  margin-top: 2rem;
}

.o-content > .u-eyebrow + h1 {
  margin-top: 0;
}

.o-content h1 + .u-lead {
  margin-top: .5rem;
}


/* ==========================================================================
   COMPONENTS
   ========================================================================== */


/**
 * BUTTON
 */

.c-button {
  appearance: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: .5rem 1.5rem;
  background-color: var(--color-blue);
  border: 1px solid var(--color-blue);
  border-radius: var(--border-radius);
  color: #fff;
  line-height: normal;
  text-decoration: none;
  transition: all 0.2s ease 0s;
  cursor: pointer;
  font: inherit;
}

.c-button:hover {
  background-color: #fff;
  color: var(--color-blue);
}


/**
 * CARD
 */

.c-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-gray-900);
  width: 100%;
  height: 300px;
  color: #fff;
  transition: all 0.2s ease 0s;
}

.c-card:hover {
  background-color: var(--color-primary);
}


/**
 * FOOTER
 */

.c-footer {
  margin-top: auto;
  padding: 4rem 1rem;
  text-align: center;
  background-color: var(--color-gray-100);
}

.c-footer__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-footer__list + .c-footer__list {
  margin-top: 1rem;
}

.c-footer__list-item {
  margin-right: .5rem;
  margin-left: .5rem;
}

.c-footer__list-anchor {
  text-decoration: none;
  color: var(--color-gray-900);
}

.c-footer__list-anchor:hover {
  color: var(--color-primary);
}


/**
 * HEADER
 */

.c-header {
  margin-bottom: 4rem;
}

.c-header__inner {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .c-header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 2rem;
  }

  .c-header__inner {
    grid-column: 3/11;
  }
}

.c-header__branding {
  flex-shrink: 0;
  width: 4rem;
  height: 4rem;
}

.c-header__toggle {
  appearance: none;
  position: relative;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
  background-color: var(--color-gray-100);
  color: var(--color-gray-900);
  font: inherit;
  border: 0;
  border-radius: var(--border-radius);
}

.c-header__toggle::after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  -webkit-clip-path: polygon(0 0,50% 100%,100% 0);
  clip-path: polygon(0 0,50% 100%,100% 0);
  border-width: 8px 5px 0 5px;
  border-top-color: inherit;
  border-color: var(--color-gray-900);
  margin-left: .5rem;
}

.c-header__toggle.is-active::after {
  transform: rotate(180deg);
}

@media screen and (min-width: 500px) {
  .c-header__toggle {
    display: none;
  }
}

.c-header__nav {
  display: none;
  margin-top: .5rem;
  width: 100%;
}

.c-header__nav.is-visible {
  display: block;
  background: var(--color-gray-100);
  border-radius: var(--border-radius);
}

@media screen and (min-width: 500px) {
  .c-header__nav {
    display: block;
    margin-top: 0;
    margin-left: auto;
    width: auto;
  }
}

.c-header__nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 100%;
}

@media screen and (min-width: 500px) {
  .c-header__nav-list {
    flex-direction: row;
  }
}

@media screen and (max-width: 500px) {
  .c-header__nav-list-item:not(:last-of-type) {
    border-bottom: 1px solid #fff;
  }
}

.c-header__nav-list-anchor {
  position: relative;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  padding: .75rem;
  height: 100%;
  color: inherit;
}

.c-header__nav-list-anchor[aria-current] {
  color: var(--color-primary);
}

@media screen and (max-width: 500px) {
  .c-header__nav-list-anchor {
    display: block;
  }
}


/**
 * Forms
 */

/* .c-form {} */

.c-form__row {
  margin-bottom: 1rem;
}

.c-form__label {
  display: inline-block;
  margin-bottom: 0.25rem;
}

.c-form__input {
  display: block;
  width: 100%;
  padding: .5rem 1rem;
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-gray-300);
  border-radius: var(--border-radius);
  font: inherit;
}


/**
 * LISTING
 */

/* .c-listing {} */

.c-listing__item:not(:last-of-type) {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--color-gray-300);
}


/**
 * NOTE
 */

.c-note {
  padding: 1rem;
  border: 1px solid var(--color-gray-300);
  border-radius: var(--border-radius);
}

.c-note--highlight {
  border-color: var(--color-yellow);
  background-color: var(--color-yellow-light);
}

.c-note__label {
  font-weight: 700;
}

.c-note__anchor {
  text-decoration: none;
  color: var(--color-blue);
}

.c-note__anchor svg {
  margin-left: .25rem;
  font-size: .9em;
}


/**
 * PAGINATION
 */

.c-pagination {
  display: flex;
  margin-top: 2rem;
}

.c-pagination__item {
  display: inline-flex;
  align-items: center;
  padding: 1rem;
  color: var(--color-gray-900);
  text-decoration: none;
  background-color: var(--color-gray-100);
  border-radius: var(--border-radius);
  transition: all 0.2s ease 0s;
}

.c-pagination__item:hover {
  color: var(--color-primary);
}

.c-pagination__item[rel="next"] {
  margin-left: auto;
}

.c-pagination__item svg {
  font-size: .9em;
}

.c-pagination__item[rel="prev"] svg {
  margin-right: .25rem;
}

.c-pagination__item[rel="next"] svg {
  margin-left: .25rem;
}


/**
 * Quote
 */

.c-quote {}

.c-quote__text {
  font-size: 1.125rem;
  font-style: italic;
}

.c-quote__cite {
  text-align: right;
}

.c-quote__cite::before {
  content: '– ';
}


/* ==========================================================================
   UTILITIES
   ========================================================================== */

.u-margin-top-025 {
  margin-top: .25rem !important;
}

.u-margin-top-05 {
  margin-top: .5rem !important;
}

.u-margin-top-1 {
  margin-top: 1rem !important;
}

.u-font-size-xl {
  font-size: var(--font-size-xl);
}

.u-font-size-lg {
  font-size: var(--font-size-lg);
}

.u-font-size-md {
  font-size: var(--font-size-md);
}

.u-h1-decorate::after {
  content: '\2009\00AC';
  display: inline-block;
  color: var(--color-gray-300);
}

.u-lead {
  font-size: var(--font-size-md);
  line-height: 1.3;
}

.u-eyebrow {
  font-size: 1rem;
  color: var(--color-gray-500);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-text-center {
  text-align: center;
}

.u-color-primary {
  color: var(--color-primary);
}

.u-color-gray {
  color: var(--color-gray-500);
}

.u-bordered {
  border: 1px solid var(--color-gray-100);
}

.u-hidden-visually {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

