@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans'), local('IBMPlexSans'),
       url('/assets/fonts/IBMPlexSans-Text.woff2') format('woff2');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans Italic'), local('IBMPlexSans-Italic'),
       url('/assets/fonts/IBMPlexSans-Italic.woff2') format('woff2');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('IBM Plex Sans Bold'), local('IBMPlexSans-Bold'),
       url('/assets/fonts/IBMPlexSans-Bold.woff2') format('woff2');
}
