code[class*="language-"],
pre[class*="language-"] {
    font-family: var(--font-family-code);
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    font-size: .875rem;
    line-height: 1.2;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

/* Inline code */
code:not([class]) {
  padding: 2px;
  font-family: var(--font-family-code);
  font-size: .875rem;
  background-color: var(--color-gray-100);
  border-radius: var(--border-radius);
}

/* Code blocks */
pre[class*="language-"] {
  padding-top: 1em;
  padding-bottom: 1em;
  overflow: auto;
  background-color: var(--color-gray-100);
}


.highlight-line {
  padding: 0.25rem 1rem;
}

.highlight-line-active {
  background-color: var(--color-blue-light);
}

.token.comment { color: #999999; }

.token.function,
.token.tag,
.token.class-name,
.token.number {
  color: #0076ff;
}

.token.keyword {
  color: #ff0078;
}

.token.string {
  color: #028265;
}
