<div class="js-modal c-modal" aria-hidden="true">
  <div class="c-modal__overlay" tabindex="-1"></div>

  <div class="c-modal__content" role="dialog" aria-labelledby="modal-title">
    <button class="js-modal-hide c-modal__hide">Close</button>

    <h1 id="modal-title">Modal</h1>
  </div>
</div>
