<div class="js-modal c-modal" aria-hidden="true">
  <div class="js-modal-hide c-modal__overlay" tabindex="-1"></div>

  <div class="c-modal__content" role="dialog" aria-labelledby="modal-title">
    <button class="js-modal-hide c-modal__hide">Close</button>

    <h1 id="modal-title">Contact</h1>

    <fieldset>
      <legend>Contact</legend>

      <label for="">Name</label>
      <input type="text">

      <label for="">Email Address*</label>
      <input type="email">

      <label for="">Message*</label>
      <textarea name="" id="" cols="30" rows="10"></textarea>
    </fieldset>
  </div>
</div>
