<footer class="c-footer" role="contentinfo">
  <div class="o-wrapper">
    <div class="o-wrapper__inner">
      <ul class="o-columns">
        <li>
          <a href="">
            <svg width="24px" height="24px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#github"></use></svg>
            Github
          </a>
        </li>

        <li>
          <a href="">
            <svg width="24px" height="24px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use></svg>
            Twitter
          </a>
        </li>

        <li>
          <a href="">
            <svg width="24px" height="24px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dribbble"></use></svg>
            Dribbble
          </a>
        </li>

        <li>
          <a href="">
            <svg width="24px" height="24px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dribbble"></use></svg>
            Contact
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
