<header class="c-header">
  <div class="o-wrapper">
    <div class="c-header__inner">
      <div>
        <h1 class="c-header__title">Alex Carpenter</h1>
        <p class="c-header__tagline">Front-end Web Developer</p>
      </div>

      <nav class="c-navigation">
        <ul>
          <li><a href="/">Home</a>&nbsp;&not;</li>
          <!-- <li><a href="/about">About</a>&nbsp;&not;</li> -->
          <!-- <li><a href="/work">Work</a>&nbsp;&not;</li> -->
          <li><a href="/blog">Blog</a>&nbsp;&not;</li>
        </ul>
      </nav>
    </div>
  </div>
</header>