<template id="offline-message-template">
  <aside class="c-offline" id="offline-message" role="alert">
    <div class="o-wrapper">
      <div class="c-offline__inner">
        <p>You appear to be offline at the moment. <a href="/">Try&nbsp;again</a></p>
        <button class="c-offline__dismiss" onclick="this.parentElement.remove()">
          <svg width="24" height="24" role="img" aria-hidden="true">
            <title>Close</title>
            <g transform="rotate(45 12 12)" fill="none" stroke="#fff" stroke-width="2">
              <line x1="12" y1="3" x2="12" y2="21"/>
              <line x1="3" y1="12" x2="21" y2="12"/>
            </g>
          </svg>
        </button>
      </div>
    </div>
  </aside>
</template>
