<div class="c-teaser {% if include.modifier %}{{ include.modifier }}{% else %}c-teaser--default{% endif %}" style="background-image: linear-gradient(to bottom right, {{ include.gradient }});">
  <header class="c-teaser__header">
    <h2 class="c-teaser__title">{{ include.title }}</h2>
    <p class="c-teaser__meta">{{ include.meta }}</p>
  </header>

  <figure class="c-teaser__figure">
    <div class="o-ratio o-ratio--4by3">
      <img
        src="{{ include.img[1] }}"
        class="o-ratio__content"
        sizes="100vw"
        srcset="{{ include.img[0] }} 1200w,
                {{ include.img[1] }} 1024w,
                {{ include.img[2] }} 768w"
        alt="{{ include.alt }}">
    </div>
  </figure>
</div>