---
title: About
description: I’m Alex Carpenter, a front-end web developer focused on performance and accessibility.
permalink: /about/index.html
---
{% extends 'layouts/default.njk' %}

{% block main %}
  <header class="c-content-header">
    <h1 class="c-content-header__title">About</h1>
    <p class="c-content-header__lead">I’m Alex Carpenter, a front-end web developer focused on performance and accessibility.</p>
  </header>

  <div class="o-grid-row">
    <div class="o-grid-col">
      {% Figure {
        src: '/assets/images/banner.jpg',
        alt: 'Photo of Alex Carpenter',
        caption: 'Photo by Jill DeVries'
      } %}
    </div>

    <div class="o-grid-col u-width-two-thirds">
      <div class="c-prose">
        <p>Throughtout the past five years i've worked professionally as a hybrid front-end developer/designer. Working confidently throughout the stack to produce semantic <a href="/posts/tagged/accessiblity/">accessible</a> markup, with modular <a href="/posts/tagged/css/">CSS</a>, and progressively enhance the experience with unobtrusive <a href="/posts/tagged/javascript/">JavaScript</a>.</p>
        <p>I live in Grand Rapids, Michigan, with my wife and our puppy, where we spend our time fly fishing, hiking, and seeking adventures offline.</p>
        <p>Checkout my <a href="/now/">now page</a> to see what I am up to right now.</p>
        <h2>Interviews</h2>
        <ul>
          <li><a href="https://developur.rs/posts/alex-carpenter/">Developurrs</a> - An interview series where web professionals about their beloved pets…and tech.</li>
          <li><a href="https://itunes.apple.com/us/podcast/alex-carpenter-show-me-your-coffee/id602836998?i=1000330208077&amp;mt=2">Show Me Your Mic</a> - A show that talks to podcasters about gear, software, workflow, and philosophies behind podcasting.</li>
          <li><a href="https://itunes.apple.com/us/podcast/013-alex-carpenter/id738646287?i=1000264786894&amp;mt=2">How to Hold a Pencil</a> - An interview show with self-taught designers and developers.</li>
        </ul>
        <h2>Colophon</h2>
        <ul>
          <li>Site is built using the static site generator <a href="https://www.11ty.io/">11ty</a>.</li>
          <li>Template code makes use of <a href="https://mozilla.github.io/nunjucks/">Nunjucks</a>.</li>
          <li>Styles are written in vanilla CSS.</li><li>Site is hosted and built using <a href="https://www.netlify.com/">Netlify</a>.</li>
          <li>View the source code on <a href="https://github.com/alexcarpenter/alexcarpenter.me">Github</a>.</li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
