---
title: Contact
description: I’d love to hear from you — send a note using the form below and I’ll get back to you as soon as I can. If your enquiry is more urgent, send me a message on [Twitter](https://twitter.com/hybrid_alex).
permalink: /contact/index.html
---
{% extends 'layouts/page.njk' %}

{% block main %}
  <section>
    <form action="https://formspree.io/im.alexcarpenter@gmail.com" method="POST">
      <input type="hidden" name="_next" value="/contact/thanks" />
      <input type="text" name="_gotcha" style="display:none" />

      <div class="c-form__field">
        <label class="c-form__label" for="name">Your name</label>
        <input class="c-form__input" type="text" name="name" id="name" required>
      </div>

      <div class="c-form__field">
        <label class="c-form__label" for="email">Your email</label>
        <input class="c-form__input" type="email" name="_replyto" id="email" required>
      </div>

      <div class="c-form__field">
        <label class="c-form__label" for="message">Message</label>
        <textarea class="c-form__input" name="message" id="message" cols="10" rows="5" required></textarea>
      </div>

      <input class="c-form__button" type="submit" value="Send Message">
    </form>
  </section>
{% endblock %}
