---
title: Craft CMS Video Course
heading: true
permalink: /courses/craft-cms/index.html
description: From installation to launch, everything you need to know to build, launch, and manage a Craft CMS site.
primaryColor: '#d34532'
---
{% extends 'layouts/default.njk' %}

{% block main %}
  <header class="c-content-header">
    <h1 class="c-content-header__heading">Craft CMS Video Course</h1>
    <p class="c-content-header__lead">From installation to launch, everything you need to know to build, launch, and manage a Craft CMS site.</p>
  </header>

  <div class="o-grid-row">
    <div class="o-grid-col u-width-two-thirds">
      <div class="c-prose">
        <p><mark>Subscribe for project updates, free content previews, and a discount when the course launches this winter.</mark></p>
        <form
          action="https://buttondown.email/api/emails/embed-subscribe/alexcarpenter"
          method="post"
          target="popupwindow"
          onsubmit="window.open('https://buttondown.email/alexcarpenter', 'popupwindow')"
          class="embeddable-buttondown-form c-form"
        >
          <input type="hidden" value="1" name="embed"/>
          <div class="c-form__row">
            <label class="c-form__label" for="bd-email">Enter your email</label>
            <input class="c-form__input" type="email" name="email" id="bd-email" required>
          </div>

          <div class="c-form__row">
            <input class="c-form__button" type="submit" value="Subscribe" />
          </div>
        </form>
        <hr>
        <h2>What you will learn</h2>
        <ul><li>Local enviroment setup via <mark>Mamp Pro and Sequel Pro</mark></li><li>Multi environment config setup</li><li>Front-end build process via <mark>Laravel Mix</mark></li><li>Content builder via <mark>Matrix and Super Table</mark></li><li>Components via <mark>includes and macros</mark></li><li>Image optimization techniques via <mark>Imager</mark></li><li>Modern SEO techniques via <mark>SEOmatic</mark></li><li>Improve template performance with <mark>Eager Loading</mark></li><li>Hosting via <mark>Digital Ocean</mark></li><li>Server provisioning via <mark>Server Pilot</mark></li><li>Atomic zero downtime deployments via <mark>Buddy Works</mark></li><li>Managing backups and assets via <mark>craft-scripts</mark></li></ul>
        <h2>Help me spread the word</h2>
        <blockquote><p>“Checkout the Craft CMS Video Course by @hybrid_alex - From installation to launch, everything you need to know to build, launch, and manage a @craftcms site.”</p></blockquote>
        <p><a href="https://twitter.com/home?status=Checkout%20the%20Craft%20CMS%20Video%20Course%20by%20%40hybrid_alex%20-%20from%20installation%20to%20launch,%20everything%20you%20need%20to%20know%20to%20build,%20launch,%20and%20manage%20a%20%40craftcms%20site.%20https%3A//alexcarpenter.me/courses/craft-cms">Share on Twitter</a></p>
        <hr>
        <p><em>Notice: this video course is not affiliated with or endorsed by Pixel & Tonic, Inc.</em></p>
      </div>
    </div>
  </div>
{% endblock %}

{% set content %}
<mark>Subscribe for project updates, free content previews, and a discount when the course launches this winter.</mark>

<form
  action="https://buttondown.email/api/emails/embed-subscribe/alexcarpenter"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/alexcarpenter', 'popupwindow')"
  class="embeddable-buttondown-form c-form"
>
  <input type="hidden" value="1" name="embed"/>
  <div class="c-form__row">
    <label class="c-form__label" for="bd-email">Enter your email</label>
    <div class="c-form__input-group">
      <input class="c-form__input" type="email" name="email" id="bd-email" required>
      <input class="c-form__button" type="submit" value="Subscribe" />
    </div>
  </div>
</form>

---

## What you will learn

* Local enviroment setup via <mark>Mamp Pro and Sequel Pro</mark>
* Multi environment config setup
* Front-end build process via <mark>Laravel Mix</mark>
* Content builder via <mark>Matrix and Super Table</mark>
* Components via <mark>includes and macros</mark>
* Image optimization techniques via <mark>Imager</mark>
* Modern SEO techniques via <mark>SEOmatic</mark>
* Improve template performance with <mark>Eager Loading</mark>
* Hosting via <mark>Digital Ocean</mark>
* Server provisioning via <mark>Server Pilot</mark>
* Atomic zero downtime deployments via <mark>Buddy Works</mark>
* Managing backups and assets via <mark>craft-scripts</mark>

## About the creator

<img class="c-headshot" src="/assets/images/photo-200.jpg" width="80" alt="Photo of Alex Carpenter">

My name is Alex Carpenter and I am a front-end developer from Grand Rapids, MI. I have been building Craft CMS sites professionally for the past three years.

My Craft CMS screencasts have been viewed over <mark>5,000+ times</mark> on [YouTube](https://www.youtube.com/playlist?list=PLmv4wIIvTDgGX6bpR3cdVddTDTR8DbDmO) and have been featured in the popular newsletter [Craft Link List](http://craftlinklist.com/).

**Follow me on:** [Twitter](https://twitter.com/hybrid_alex), [YouTube](https://www.youtube.com/channel/UC2jJoQlzvLPvnYfowAEVaOg), or [GitHub](https://github.com/alexcarpenter).

## Testimonials

<blockquote class="c-reference">
  <img class="c-reference__avatar" src="/assets/images/kyle-luck.jpeg" alt="" width="80">
  <p class="c-reference__body">“Alex taught me to translate static web designs into component based systems. His thoughtfully crafted tutorials feature "real-world" examples, programming techniques, and best practices that will improve your code for years to come.”</p>
  <cite class="c-reference__cite">– Kyle Luck, Web Developer at Fusionary Media</cite>
</blockquote>

## Help me spread the word

> "Checkout the Craft CMS Video Course by @hybrid_alex - From installation to launch, everything you need to know to build, launch, and manage a @craftcms site."

<a href="https://twitter.com/home?status=Checkout%20the%20Craft%20CMS%20Video%20Course%20by%20%40hybrid_alex%20-%20from%20installation%20to%20launch,%20everything%20you%20need%20to%20know%20to%20build,%20launch,%20and%20manage%20a%20%40craftcms%20site.%20https%3A//alexcarpenter.me/courses/craft-cms">Share on Twitter</a>

---

*Notice: this video course is not affiliated with or endorsed by Pixel & Tonic, Inc.*

{% endset %}
