---
title: "I’m Alex Carpenter, a front-end web developer focused on performance and accessibility."
heading: true
description: "Currently, I am a senior developer at [Mighty in the Midwest](http://mightyinthemidwest.com), based out of Grand Rapids, MI. I enjoy finding simple solutions for our clients complex problems. I aim to produce semantic accessible markup, with modular CSS, and progressively enhance the experience with unobtrusive JavaScript."
permalink: /index.html
---
{% extends 'layouts/default.njk' %}
{% from 'components/reference.njk' import reference %}

{% block pageTop %}
  <header class="c-page-header">
    <h1 class="c-page-header__heading">{{ title }}</h1>
    <p class="c-page-header__description">{{ description | markdownify_inline | safe }}</p>
  </header>
{% endblock %}

{% block main %}
  <section>
    <div class="c-prose">
      <h2>Latest Posts</h2>
      <ul>
        {% for entry in collections.latestPosts %}
        <li>
          <a href="{{ entry.url | permalink }}">{{ entry.data.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>

  <section>
    <div class="c-prose">
      <h2>Join my weekly newsletter</h2>
      <p>{{ newsletter.description }}</p>
      {% include 'components/newsletter.njk' %}
      {{ reference({
        avatar: '/assets/images/claire-gersabeck.jpeg',
        body: 'The Front-End Foundations Newsletter helps fill in the gaps of my knowledge with well-chosen resources that would be hard to seek out on my own. It has helped me improve as a developer!',
        link: 'https://www.linkedin.com/in/claire-gersabeck/',
        cite: 'Claire Gersabeck',
        title: 'Front-end Developer'
      }) }}
    </div>
  </section>
{% endblock %}
