---
title: Newsletter
description: A curated newsletter highlighting foundational HTML, CSS, and JavaScript resources and tutorials.
permalink: /newsletter/index.html
---
{% extends 'layouts/page.njk' %}
{% from 'components/reference.njk' import reference %}

{% block main %}
  <section>
    <div class="c-prose">
      {% include 'components/newsletter.njk' %}
      {{ reference({
        avatar: '/assets/images/claire-gersabeck.jpeg',
        body: 'The Front-End Foundations Newsletter helps fill in the gaps of my knowledge with well-chosen resources that would be hard to seek out on my own. It has helped me improve as a developer!',
        link: 'https://www.linkedin.com/in/claire-gersabeck/',
        cite: 'Claire Gersabeck',
        title: 'Front-end Developer'
      }) }}
      <h2>Previous issues</h2>
      <ul>
        {% for issue in newsletter.issues %}
          <li>#{{ issue.id }} - <a href="{{ issue.url }}">{{ issue.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </section>
{% endblock %}
