---
title: Now
permalink: /now/index.html
description: This is my [now page](https://nownownow.com/about), inspired by Derek Sivers.
updated: 2018-11-29T09:39:29
---
{% extends 'layouts/default.njk' %}

{% set content %}
## Professional
* Onboarding at [NationBuilder](http://nationbuilder.com)
* Reading "The Five Dysfunctions of a Team"
* Producing screencasts on HTML, CSS, and JavaScript on [YouTube](https://www.youtube.com/channel/UC2jJoQlzvLPvnYfowAEVaOg)
* Writing technical blog <a href="/posts/">posts</a> about what I am learning

## Personal
* Training our new puppy [Frankie](https://developur.rs/posts/alex-carpenter/)
* Taking a small step back from social media
{% endset %}

{% block main %}
  <header class="c-content-header">
    <h1 class="c-content-header__title">Now</h1>
    <p class="c-content-header__lead">This is my <a href="https://nownownow.com/about">now page</a>, inspired by Derek Sivers.</p>
  </header>
  <div class="o-grid-row">
    <div class="o-grid-col u-width-two-thirds">
      <div class="c-prose">
        {{ content | markdownify | safe }}
      </div>
    </div>
  </div>
{% endblock %}
