---
title: Now
permalink: /now/index.html
description: This is my [now page](https://nownownow.com/about), inspired by Derek Sivers.
updated: 2018-09-24
---
{% extends 'layouts/page.njk' %}

{% set content %}
## Professional

* Building a [Craft CMS Video Course](/courses/craft-cms).
* Really enjoying [Vue.js](https://vuejs.org/) work at the moment.
* Exploring a GraphQL and Craft CMS setup via [CraftQL](https://github.com/markhuot/craftql).
* Writing technical blog [posts](/posts/) about what I am learning.

## Personal

* Renovating our kitchen.
* Attempting to train our [new puppy](https://www.instagram.com/p/Bk7eFmjAF1WITruwE7JyIvhIuJvG_LteWRoh0U0/).
* Working on improving my patience.
* Taking a small step back from social media.
{% endset %}

{% block main %}
  <div class="c-prose">
    {{ content | markdownify | safe }}
    <hr>
    <p>Last updated: <time>{{ updated | date_formatted }}</time></p>
  </div>
{% endblock %}
