---
title: Posts
description: 'Subscribe via [RSS](/feed.xml).'
pagination:
  data: collections.posts
  size: 10
permalink: /posts/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber }}/{% endif %}index.html
---
{% extends 'layouts/page.njk' %}

{% block main %}
  <ul class="c-listing">
    {% for entry in pagination.items %}
    <li>
      <article>
        <header class="c-entry__header">
          <time class="c-entry__date">{{ entry.date | date_formatted }}</time>
          <h2><a href="{{ entry.url | permalink }}">{{ entry.data.title }}</a></h2>
        </header>
        <div class="c-prose">
          <p>{{ entry.data.description | safe }}</p>
          {% if entry.data.tags %}
            <p>Tagged: {% for tag in entry.data.tags %}<a href="/posts/tagged/{{ tag }}/">{{ tag }}</a>{% if not loop.last %}, {% endif %}{% endfor %}</p>
          {% endif %}
        </div>
      </article>
    </li>
    {% endfor %}
  </ul>

  {% include "components/pagination.njk" %}
{% endblock %}
