---
title: Posts
description: 'Subscribe via [RSS](/feed.xml).'
pagination:
  data: collections.posts
  size: 10
permalink: /posts/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber }}/{% endif %}index.html
---
{% extends 'layouts/page.njk' %}

{% block main %}
  <ul class="c-listing">
    {% for entry in pagination.items %}
    <li>
      {% include "components/entry.njk" %}
    </li>
    {% endfor %}
  </ul>

  {% include "components/pagination.njk" %}
{% endblock %}
