---
pagination:
  data: collections
  size: 1
  alias: tag
title: Tagged Posts
permalink: /posts/tagged/{{ tag }}/index.html
---
{% extends 'layouts/default.njk' %}

{% block pageTop %}
  <header class="c-page-header">
    <h1 class="c-page-header__headline">Posts tagged “{{ tag }}”</h1>
  </header>
{% endblock %}

{% block main %}
  <ul class="c-listing">
    {% set taglist = collections[ tag ] %}
    {% for entry in taglist | reverse %}
    <li>
      <article>
        <header class="c-entry__header">
          <time class="c-entry__date">{{ entry.date | date_formatted }}</time>
          <h2><a href="{{ entry.url | permalink }}">{{ entry.data.title }}</a></h2>
        </header>
        <p>{{ entry.data.description | safe }}</p>
      </article>
    </li>
    {% endfor %}
  </ul>
{% endblock %}
