---
title: Uses
description: A short list of the tools and software I use daily to get work done.
permalink: /uses/index.html
updated: 2018-09-05
---
{% extends 'layouts/page.njk' %}

{% set content %}
## Software

* [VS Code]()
* [iTerm 2]()
* [Mamp Pro]()
* [Bear]()
* [Flycut]()
* [Spectacle]()
* [Frank DeLoupe]()
* [Todoist]()

## Hardware
* iPhone 7
* 2015 MacBook Air
* Apple Magic Keyboard
* Apple Magic Trackpad

## Code
* [Vue.js]()
* [Craft CMS]()
* [Eleventy]()
* [Laravel Mix]()
* [Webpack]()
{% endset %}

{% block main %}
  <div class="c-prose">
    {{ content | markdownify | safe }}
    <hr>
    <p>Last updated: <time>{{ updated | date_formatted }}</time></p>
  </div>
{% endblock %}
