---
title: Work
description: Here are three recent projects I am proud of producing during my time at Mighty in the Midwest.
permalink: /work/index.html
---
{% extends 'layouts/page.njk' %}

{% set content %}
{% endset %}

{% block main %}
  <ul class="c-listing">
    {% for entry in work.featured %}
    <li>
      <article>
        <header class="c-entry__header">
          <h2>{{ entry.title }}</h2>
        </header>
        <div class="c-prose">
          <div style="border: 1px solid var(--color-gray-30);">
            {% Figure {
              src: entry.thumbnail,
              alt: entry.title,
              ratio: '4/3'
            } %}
          </div>
          <dl class="c-prose__meta">
          {% if entry.meta.year %}
            <dt>Year</dt>
            <dd>{{ entry.meta.year }}</dd>
          {% endif %}
          {% if entry.meta.role %}
            <dt>Role</dt>
            <dd>{{ entry.meta.role }}</dd>
          {% endif %}
          {% if entry.meta.notes %}
            <dt>Notes</dt>
            <dd>{{ entry.meta.notes }}</dd>
          {% endif %}
          </dl>
          {% if entry.description %}
            <p>{{ entry.description | markdownify_inline }}</p>
          {% endif %}
        </div>
      </article>
    </li>
    {% endfor %}
  </ul>
{% endblock %}
