/* ==========================================================================
   SETTINGS/BREAKPOINTS
   ========================================================================== */


$mq-breakpoints: (
  sm: 320px,
  md: 740px,
  lg: 980px
);
